<div>
    Login: {{currentItem}}


    <!--<ng-include src="'table.html'" ng-show="currentView == 'table'"></ng-include>-->
    <!--<table>-->
        <!--<tr ng-repeat="item in items" ng-cloak>-->
            <!--<td>{{item.getFullName()}}</td>-->
        <!--</tr>-->
    <!--</table>-->
    <!--<div class=" col-md-12">-->

    <!--&lt;!&ndash;E D I T  F O R M&ndash;&gt;-->
    <!--{{currentView}}-->
    <!--<h3>Редактировать</h3>eee{{currentItem.login}}-->
    <!--<div class="row">-->

    <!--&lt;!&ndash; L A S T  N A M E &ndash;&gt;-->

    <!--<div class="col-xs-6 col-sm-6 col-md-12">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="text" name="lastName" class="form-control"-->
    <!--placeholder="Фамилия">-->
    <!--<span class="input-group-addon" id="basic-addon2">Фамилия</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; F I R S T  N A M E &ndash;&gt;-->

    <!--<div class="col-xs-6 col-sm-6 col-md-12">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<label>-->
    <!--<input type="text" ng-model="login" name="firstName" class="form-control">-->
    <!--</label>-->
    <!--&lt;!&ndash;<span class="input-group-addon" id="basic-addon3">Имя</span>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; P A T R O N Y M I C  N A M E&ndash;&gt;-->

    <!--<div class="col-xs-6 col-sm-6 col-md-12">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="text" name="patronymicName" class="form-control"-->
    <!--placeholder="Отчество">-->
    <!--<span class="input-group-addon" id="basic-addon4">Отчество</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; B I R T H D A Y &ndash;&gt;-->
    <!--<div class="col-md-3">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="text" class="form-control" disabled>-->
    <!--<span class="input-group-addon" id="basic-addon5">ДР</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="date" name="birthday" class="form-control" id="birthday"-->
    <!--min="1950-01-01" max="2000-12-31" placeholder="1980-10-31">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; L O G I N &ndash;&gt;-->

    <!--<div class="col-xs-6 col-sm-6 col-md-12">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="text" name="login" class="form-control" placeholder="Логин">-->
    <!--<span class="input-group-addon" id="basic-addon6">Логин</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; E M A I L &ndash;&gt;-->

    <!--<div class="col-xs-6 col-sm-6 col-md-12">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="text" name="email" class="form-control" placeholder="Email">-->
    <!--<span class="input-group-addon" id="basic-addon7">Email</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; S U B D I V I S I O N &ndash;&gt;-->

    <!--<div class="col-xs-6 col-sm-6 col-md-12">-->
    <!--<div class="form-group">-->
    <!--<div class="input-group input-group-lg">-->
    <!--<input type="text" name="subdivision" class="form-control"-->
    <!--placeholder="Отдел">-->
    <!--<span class="input-group-addon" id="basic-addon8">Отдел</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <!--<hr>-->
    <!--&lt;!&ndash;B U T T O N  S A V E&ndash;&gt;-->

    <!--<div class="col-md-2">-->
    <!--<div class="form-group">-->
    <!--<a class="btn btn-primary btn-block btn-lg" href="/user">Сотрудники</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-2">-->
    <!--<div class="form-group">-->
    <!--<input value="Сохранить" type="submit" class="btn btn-lg btn-success btn-block">-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<input value="<%= _csrf %>" type="hidden" name="_csrf">&ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->
</div>