<!--<div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->

<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>
            <p ng-if="item.name" ng-class="{'fired':item.fired}">{{item.getFullName()}}
                <span ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
            </p>
            <p ng-if="!item.name">{{newObjectName}}</p>
            <a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                Возраст: {{item.dateInWork | date:'dd.MM.yyyy' }} {{item.age()}}</a>
            <a href="#" class="btn btn-info btn-xs " ng-if="item.decree"
               title="Отпуск по уходу за ребёнком c {{item.decree|date:'dd.MM.yyyy'}}"> В отпуске </a>
            <a href="#" class="btn btn-danger btn-xs disabled" ng-show="item.fired" role="button">сотрудник уволен {{item.firedDate |
                date:'dd.MM.yyyy'}}</a>
            <div class="btn-group-xs pull-right">

                <button  ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span> Сохранить
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span> Список
                </a>
                <button ng-show="me.admin" ng-if="!item.action && edit" ng-click="delete2(item)" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
            </div>
        </h2>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
        <span ng-switch-default>
        <a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
        </span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="row">
        <div ng-class="{'col-md-6':close, 'col-md-12':!close, 'fx-fade-left':!close, 'fx-fade-right':close}">
            <div class="panel" ng-class="{'panel-warning':!item.fired, 'panel-default':item.fired}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать
                        <a href="#" ng-click="closed()" class="pull-right">
                            <span class="glyphicon" ng-class="{'glyphicon-menu-right':close,'glyphicon-menu-left':!close}"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="userForm" novalidate ng-submit="saveEdit(item)" enctype="multipart/form-data">
                        <div class="form-group">
                            <div ng-if="(me.kadr)" class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="item.action">Активность
                                </label>
                            </div>
                            <label class="control-label" for="inputSuccess1">
                                Имя
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="show=true" ng-mouseleave="show=false"></span>
                                <small ng-if="show">( та часть имени, которая пишется после названия питомника)</small>
                            </label>
                            <input ng-if="!edit" autofocus minlength="2" maxlength="40" ng-change="getLdap()"  type="text"
                                   class="form-control"
                                   ng-model="item.name">
                            <input ng-if="edit" autofocus  minlength="2" maxlength="40" type="text" class="form-control"
                                   ng-model="item.name">
                            <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!--< K E N N E L -->
                        <div ng-controller="ListDepartmentController" class="form-group ">
                            <label class="control-label"  ng-bind="items[0].sc()"></label>
                            <span>[ <a href="#" ng-click="addKennelField()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="kennels in item.kennels">
                                <div class="form-group">
                                    <select class="form-control" ng-model="kennels.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default " ng-click="removeKennelItem(kennels)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--< S I R E S (EDIT)-->
                        <div ng-controller="ListCatalogController" ng-if="edit" class="form-group ">
                            <label class="control-label" >Отец</label>
                            <span>[ <a href="#" ng-click="addSireField()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="sires in item.sires">
                                <div class="form-group">
                                    <select class="form-control" ng-model="sires.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default " ng-click="removeSireItem(sires)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-controller="ListCatalogController" ng-if="!edit" class="form-group ">
                            <label class="control-label" >Отец</label>
                            <!--<span>[ <a href="#" ng-click="addSireField()">добавить</a> ]</span>-->
                            <!--<div class="form-inline" ng-repeat="sires in item.sires">-->
                                <div class="form-group">
                                    <select class="form-control" ng-model="item.sires">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default " ng-click="removeSireItem(sires)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                <!--</div>-->
                            <!--</div>-->
                        </div>

<pre>sires: {{sires | json}}</pre>
<pre>item: {{item | json}}</pre>


                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">Кличка

                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="showNick=true"
                                      ng-mouseleave="showNick=false"></span>
                                <small ng-if="showNick">(как называете дома, прозвище, ласковое имя)</small>
                            </label>
                            <input type="text" class="form-control" minlength="2" maxlength="70"  ng-model="item.nickname">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Дата рождения
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.birthday">
                            <span class="input-group-btn">
                              <!--<button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span-->
                                <!--class="glyphicon glyphicon-remove"></span></button>-->
                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Пол
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="genderNick=true"
                                      ng-mouseleave="genderNick=false"></span>
                                <small ng-if="genderNick">(какого рода собака: сука-female | кобель-male)</small>
                            </label>
                            <select class="form-control" name="gender" id="gender" ng-model="item.gender">
                                <option value=""></option>
                                <option value="сука">сука</option>
                                <option value="кобель">кобель</option>
                            </select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Вес
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="weightNick=true"
                                      ng-mouseleave="weightNick=false"></span>
                                <small ng-if="weightNick">(граммы 4300)</small>
                            </label>
                            <input type="number" class="form-control" min="{{lengthWeightMin}}" max="9999"  ng-model="item.weight">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Рост
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="growthNick=true"
                                      ng-mouseleave="growthNick=false"></span>
                                <small ng-if="growthNick">(рост устанавливается в сантиметрах)</small>
                            </label>
                            <input type="number" maxlength="2" max="35" min="22" class="form-control"  ng-model="item.growth">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Тип
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="varietyNick=true"
                                      ng-mouseleave="varietyNick=false"></span>
                                <small ng-if="varietyNick">(варианты: голая-hairless | пух-powderpuff)</small>
                            </label>

                            <select  class="form-control" name="variety" id="variety" ng-model="item.variety">
                                <option value=""></option>
                                <option value="пух">пух</option>
                                <option value="голая">голая</option>
                            </select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Окрас
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="colorNick=true"
                                      ng-mouseleave="colorNick=false"></span>
                                <small ng-if="colorNick">(цвета помеченные "на рассмотрении", пока официально не приняты)</small>
                            </label>
                            <select  class="form-control" name="color" id="color" ng-model="item.color">
                                <option value=""></option>
                                <option value="Бело-бронзовый">
                                    Бело-бронзовый
                                </option>
                                <option value="Бело-голубой">
                                    Бело-голубой
                                </option>
                                <option value="Бело-кремовый">
                                    Бело-кремовый (на рассмотрении)
                                </option>
                                <option value="Бело-черный">
                                    Бело-черный
                                </option>
                                <option value="Бело-шоколадный">
                                    Бело-шоколадный
                                </option>
                                <option value="Белый">
                                    Белый
                                </option>
                                <option value="Бронзово-белый">
                                    Бронзово-белый
                                </option>
                                <option value="Бронзовый">
                                    Бронзовый
                                </option>
                                <option value="Голубо-белый">
                                    Голубо-белый
                                </option>
                                <option value="Голубой">
                                    Голубой
                                </option>
                                <option value="Кремово-белый">
                                    Кремово-белый (на рассмотрении)
                                </option>
                                <option value="Кремовый">
                                    Кремовый (на рассмотрении)
                                </option>
                                <option value="Муругий">
                                    Муругий (соболинный)
                                </option>
                                <option value="Трёхцветный">
                                    Трёхцветный
                                </option>
                                <option value="Чёрно-белый">
                                    Чёрно-белый
                                </option>
                                <option value="Чёрно-подпалый">
                                    Чёрно-подпалый
                                </option>
                                <option value="Чёрный">
                                    Чёрный
                                </option>
                                <option value="Шоколадно-белый">
                                    Шоколадно-белый
                                </option>
                                <option value="Шоколадно-подпалый">
                                    Шоколадно-подпалый (на рассмотрении)
                                </option>
                                <option value="Шоколадный">
                                    Шоколадный
                                </option>
                                <option value="ds">
                                    Шокоddddладный
                                </option>
                            </select>
                        </div>






                        <!--< B R E E D E R -->
                        <div ng-controller="ListController" class="form-group ">
                            <label class="control-label">Заводчик</label>
                            <span>[ <a href="#" ng-click="addBreederField()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="breeder in item.breeders">
                                <div class="form-group">
                                    <select class="form-control" ng-model="breeder.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default " ng-click="removeBreederItem(breeder)">
                                            <span  class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--< O W N E R  -->
                        <div ng-controller="ListController" class="form-group ">
                            <label class="control-label">  Владелец  </label>
                            <span>[ <a href="#" ng-click="addOwnerField()">добавить</a> ]</span>
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="ownerNick=true"-->
                                      <!--ng-mouseleave="ownerNick=false"></span>-->
                                <!--<small ng-if="ownerNick">(название питомника если нет, то имя хозяина)</small>-->
                            <div class="form-inline" ng-repeat="owner in item.owners">
                                <div class="form-group">
                                    <select class="form-control" ng-model="owner.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default " ng-click="removeOwnerItem(owner)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                    <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                </div>
                            </div>
                        </div>







                        <!--< N E W  T I T L E S -->
                        <div ng-controller="ListTitleController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span>[ <a href="#" ng-click="addItem()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="title in item.titles">
                                <div class="form-group">
                                    <select class="form-control" ng-model="title.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{getMultiplicity(option)}}{{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group caption">
                                    <div class="file-upload ">
                                        <label class="text-left">
                                            <input type="file" nv-file-select="" uploader="uploadTitles" multiple/>
                                            <div class="form-inline"
                                                 ng-repeat="foto in filtered=(item.photos | filter:{$:searchText, catalogs:item.id, titles:item.titles[$index].id})">
                                                <img ng-click="getTitle(title)" width="80" ng-src="{{foto.photoUrl}}" alt="">
                                            </div>
                                             <span ng-click="getTitle(title)"
                                                   class="glyphicon glyphicon-camera" role="button"></span>

                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="text-right">{{title.description}}</small>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default " ng-click="removeItem(title, filtered[0])"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>













                        <!--< N E W  T E S T S / R E A C T I O N S -->
                        <div ng-controller="ListReactionController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span>[ <a href="#" ng-click="addReaction()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="reaction in item.reactions">
                                <div class="form-group">
                                    <select class="form-control" ng-model="reaction.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group caption">
                                    <div class="file-upload ">
                                        <label class="text-left">
                                            <input type="file" nv-file-select="" uploader="uploadReactions" multiple/>

                                            <div class="form-inline"
                                                 ng-repeat="fot in filtersed=(item.photos | filter:{$:searchText, catalogs:item.id, reactions:item.reactions[$index].id})">
                                                <img ng-click="getReaction(reaction)" width="80" ng-src="{{fot.photoUrl}}" alt="">

                                            </div>
                                             <span ng-click="getReaction(reaction)"
                                                   class="glyphicon glyphicon-camera" role="button"></span>

                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="text-right">{{reaction.description}}</small>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default " ng-click="removeReaction(reaction, filtersed[0])"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                № Pedigree
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="pedigreeNick=true"-->
                                <!--ng-mouseleave="pedigreeNick=false"></span>-->
                                <!--<small ng-if="pedigreeNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.pedigree">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                № РКФ
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="rkfNick=true"-->
                                <!--ng-mouseleave="rkfNick=false"></span>-->
                                <!--<small ng-if="rkfNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.rkf">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                PLL
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="pllNick=true"-->
                                <!--ng-mouseleave="pllNick=false"></span>-->
                                <!--<small ng-if="pllNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>

                            <select  class="form-control" name="pll" id="pll" ng-model="item.pll">
                                <option value=""></option>
                                <option value="Чистый">
                                    Чистый
                                </option>
                                <option value="Носитель">
                                    Носитель
                                </option>
                                <option value="Болеет">
                                    Болеет
                                </option>
                            </select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                PRA
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="praNick=true"-->
                                <!--ng-mouseleave="praNick=false"></span>-->
                                <!--<small ng-if="praNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>

                            <select  class="form-control" name="pra" id="pra" ng-model="item.pra">
                                <option value=""></option>
                                <option value="Чистый">
                                    Чистый
                                </option>
                                <option value="Носитель">
                                    Носитель
                                </option>
                                <option value="Болеет">
                                    Болеет
                                </option>
                            </select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                DM
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="dmNick=true"-->
                                <!--ng-mouseleave="dmNick=false"></span>-->
                                <!--<small ng-if="dmNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>

                            <select  class="form-control" name="dm" id="dm" ng-model="item.dm">
                                <option value=""></option>
                                <option value="Чистый">
                                    Чистый
                                </option>
                                <option value="Носитель">
                                    Носитель
                                </option>
                                <option value="Болеет">
                                    Болеет
                                </option>
                            </select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Клеймо
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="stampNick=true"-->
                                <!--ng-mouseleave="stampNick=false"></span>-->
                                <!--<small ng-if="stampNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.stamp">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Чип
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="chipNick=true"-->
                                <!--ng-mouseleave="chipNick=false"></span>-->
                                <!--<small ng-if="chipNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.chip">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Дата смерти
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.death">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeDeath(item)"><span
                                      class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>

                        <div ng-if="(me.admin)" class="row" ng-if="item.id">
                            <div class="col-md-5">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="control-label" for="inputSuccess18">
                                            Зарег. в системе
                                        </label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                            {{item.getCreatedAt() | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group ">
                                    <div class="form-group " ng-if="item.updatedAt">
                                        <label class="control-label" for="inputSuccess18">Последнее обновление</label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                            {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <!--<div class="form-group" style=" position: fixed;margin-left: 50px; margin-bottom: 70px; bottom:0; left:0;">-->
                            <button ng-show="!edit" type="submit" ng-disabled="userForm.$invalid" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-user"></span>
                                Сохранить
                            </button>

                            <button ng-show="edit" type="submit" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                                Сохранить
                            </button>
                            <a ng-if="me.admin" ng-href="{{item.getListUrl()}}" class="btn btn-md btn-warning">
                                <span class="glyphicon glyphicon-list"> </span>
                                Список
                            </a>
                            <!--<button ng-if="!item.id" ng-click="revert()" ng-disabled="!canRevert()" class="btn btn-md btn-primary">-->
                            <!--<span class="glyphicon glyphicon-erase"> </span>-->
                            <!--Очистить-->
                            <!--</button>-->


                            <!--<button ng-if="item.id" ui-sref="home.admin.users.edit(data.id)"-->
                            <!--class="btn btn-default btn-md pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                            <!--</button>-->

                        </div>
                    </form>
                    <button ng-show="me.admin" ng-if="!item.action" ng-click="delete2(item)" class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-6" ng-if="item.id">
            <div ng-switch on="modeSelect.value">
                <div ng-switch-when="uploader">
                    <ng-include src="uploaderView"></ng-include>
                </div>
            </div>

            <div ng-show="me.admin" ng-if="close">
                <div class="panel"
                     ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':close, 'fx-fade-left':!close}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Информация

                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr ng-repeat="(key, value) in item">
                                    <th>{{key}}</th>
                                    <td>{{value }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

