<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>{{items[0].sc()}} {{exampleDate | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}
            <a ng-cloak href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                всего:
                <span ng-if="!mode">{{(items | filter:filterTemplate.all).length}}</span>
            </a>
            <span ng-if="mode" ng-bind="items[0].deactivation()"></span>
            <div class="btn-group-xs pull-right">
                <small> <small><a  href="#" ng-click="showPopup(help.dogsOnCatalog,1)">Кто в каталоге?</a></small></small>
            </div>
        </h2>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default>
        <a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
        </span>
                </ng-switch>
            </li>
        </ul>
        <div ui-view></div>
        <div ui-view="settings"></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="btn-toolbar" role="toolbar" aria-label="0">
                <alfavit
                        object-name="objectName"
                        get-char-text="getCharText(ch)"
                        filed-name="filedName"
                        where="where"
                        char-text="charText"
                        count-char="countChar">
                </alfavit>
                <word-part object-name="objectName"
                           filed-name="filedName"
                           where="where"
                           count-char="countChar"
                           char-text="charText"
                           get-char-text="getCharText(ch)">
                </word-part>

                <div ng-if="!searchText" ng-repeat="it in arrButton" class="btn-group btn-group-sm"
                     role="group" aria-label="4">
                    <button ng-click="getPage(it.numberPage)" type="button" ng-bind="it.numberPage"
                            class="btn " ng-class="{'btn-danger':enabledButton, 'btn-default':!enabledButton}"></button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <select class="form-control" role="group"
                    ng-model="modeSelect" ng-options="item.display for item in options track by item.value">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Поиск ...">
                <span class="input-group-btn">
                       <button ng-click="searchText=''" class="btn btn-default" type="button">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                     </span>
            </div>
        </div>
    </div>
    <div ng-switch on="modeSelect.value" style="margin-top:20px;">
        <div ng-switch-when="all">
            <div ui-view="actionView"></div>
        </div>
        <div ng-switch-when="action">
            <div ui-view="actionView"></div>
        </div>
        <div ng-switch-when="male">
            <div ui-view="actionView"></div>
        </div>
        <div ng-switch-when="female">
            <div ui-view="actionView"></div>
        </div>
        <div ng-switch-when="poaleell">
            <div ui-view="actionView"></div>
        </div>
    </div>
</div>
<div ui-view="list"></div>
<div ui-view="attendance"></div>
<div class="row">
    <pre ng-if="debug && me.admin"><h3>{{items | json}}</h3></pre>
</div>