<div>
    <div class="col-md-10">
        <div class="btn-group btn-group-sm " role="group" aria-label="1">
            <button ng-repeat="ch in parts"
                    ng-click="getCharText(ch)" ng-bind="ch" type="button" class="btn btn-default" ng-cloak>
            </button>
            <button ng-if="charText" ng-click="getCharText(0)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

        </div>
    </div>


    <!-- S E L E C T  Y E A R -->

    <div class="col-md-2">
        <div class="form-group form-inline  text-right" ng-show="selectYear.length">
            <label>
                <!--Год:-->
                <select class="form-control" ng-model="interface"
                        ng-options="option as option.year  for option in selectYear track by option.id">
                </select>
            </label>

        </div>
    </div>
</div>