<table class="table table-hover">
    <!--<tr><th colspan="100">Найдено: {{filtered.length}}</th></tr>-->
    <tr>
        <th>#</th>
        <th></th>
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('lastName')">
                {{nameHeader.fioArea}}
                <span class="sortOrder" ng-show="propertyName === 'lastName'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('room')">
                {{nameHeader.roomArea}}
                <span class="sortOrder" ng-show="propertyName === 'room'"
                      ng-class="{reverse: reverse}"></span>
            </button>

        </th>
        <!--<th>-->
        <!--<button class="btn  btn-sm btn-default not-border" ng-click="sortBy('birthday')">{{drArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'birthday'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->

        <!--</th>-->
        <!--<th>-->
        <!--<button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('login')">{{loginArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'login'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->

        <!--</th>-->
        <th>
            <button class="btn  btn-sm btn-default not-border" ng-click="sortBy('departments[0].name')">
                {{nameHeader.departmentArea}}
                <span class="sortOrder" ng-show="propertyName === 'departments[0].name'"
                      ng-class="{reverse: reverse}"></span>
            </button>

        </th>
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('positions[0].name')">
                {{nameHeader.positionArea}}
                <span class="sortOrder" ng-show="propertyName === 'positions[0].name'"
                      ng-class="{reverse: reverse}"></span>
            </button>

        </th>
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('email')">
                {{nameHeader.emailArea}}
                <span class="sortOrder" ng-show="propertyName === 'email'"
                      ng-class="{reverse: reverse}"></span>
            </button>

        </th>

        <th class="wdt">
            <!--<button class="btn  btn-sm btn-default" ng-click="sortBy('contacts')">Контакты: {{fieldName}}-->
            <!--<span class="sortOrder" ng-show="propertyName === 'contacts'"-->
            <!--ng-class="{reverse: reverse}"></span>-->
            <!--</button>-->
            <!-- Single button -->
            <!-- Split button -->
            <div class="btn-group pull-right">
                <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('contacts')">
                    <span class="sortOrder" ng-show="propertyName === 'contacts'" ng-class="{reverse: reverse}"></span>
                    Контакты/{{fieldName}}
                </button>
                <button type="button" class="btn btn-sm btn-default  not-border dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Контакты: {{fieldName}}</span>
                </button>
                <ul class="dropdown-menu">
                    <!--<li><a href="#" ng-click="fieldName='Email'">Email</a></li>-->
                    <li><a href="#" ng-click="fieldName='Мобильный'">Мобильный</a></li>
                    <li><a href="#" ng-click="fieldName='Телефон'">Телефон</a></li>
                    <li><a href="#" ng-click="fieldName='муж/жена'">муж/жена</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                </ul>
            </div>
        </th>
        <!--<th>-->
        <!--<button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('email')">Отработанное время-->
        <!--<span class="sortOrder" ng-show="propertyName === 'email'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->

        <!--</th>-->
        <!--<th></th>-->
        <th colspan="10"></th>
    </tr>
    <!--| firstChar:param:charText-->
    <!--ng-class="$even ? 'default' : 'success'"-->
    <!--<tr><td ng-repeat="(key,property) in item">{{key}}</td></tr>-->
    <tr ng-repeat="item in filtered=(items |filter:{$:searchText} | filter:filterObject |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)">

        <td>{{$index+1}}</td>
        <td ng-if="item.avatarUrl">
            <a ng-href="{{item.getShowUrl(item.id)}}">
                <img class="object-fit_cover" ng-class="{photoSize:vid}" ng-mouseover="vid=true"
                     ng-mouseleave="vid=false"
                     ng-src="{{item.avatarUrl}}"
                     alt="">
            </a>
        </td>
        <td ng-if="!item.avatarUrl">
            <a ng-href="{{item.getShowUrl(item.id)}}" title="нет фото">
                <img class="object-fit_cover" src="http://via.placeholder.com/80x80/f5f5f5/ffffff/" alt="">
            </a>
        </td>

        <!--<td>-->
        <!--<a ng-href="{{item.getShowUrl(item.id)}}">-->
        <!--<img class="object-fit_cover" ng-class="{photoSize:vid}" ng-mouseover="vid=true" ng-mouseleave="vid=false"-->
        <!--ng-src="{{item.avatarUrl}}"-->
        <!--alt="">-->
        <!--</a>-->
        <!--</td>-->


        <td ng-if="me.admin || me.kadr">
            <a  href="{{item.getEditUrl(item.id)}}">
                {{item.getFullName()}}
                <span ng-if="!item.name" class="text-danger"><md-tooltip
                        md-direction="top">
              временное имя, псевдоним
            </md-tooltip>{{item.symbol}} {{item.alias}}</span>
            </a>
        </td>
        <td ng-if="!me.admin && !me.kadr">

            {{item.getFullName()}}
            <span ng-if="!item.name" class="text-danger"><md-tooltip
                    md-direction="top">
              временное имя, псевдоним
            </md-tooltip>{{item.symbol}} {{item.alias}}</span>

        </td>
        <td class="text-center">{{item.room}}</td>
        <td>
            <ul ng-if="item.departments" style="list-style-type: none; margin: 0; padding: 0" class="position"
                ng-controller="ListDepartmentController"
                ng-repeat="department in item.departments | filter:{$:searchText, fired:mode}">
                <li style="list-style-type: none; margin: 0; padding: 0"
                    ng-repeat="option in items | filter:{$:searchText,id:department.id}">
                    {{option.name}}
                </li>
            </ul>
        </td>
        <td>
            <ul style="list-style-type: none; margin: 0; padding: 0" class="position"
                ng-controller="ListPositionController"
                ng-repeat="position in item.positions">
                <li style="list-style-type: none" ng-repeat="option in items | filter:position.id">
                    {{option.name}}
                </li>
            </ul>
        </td>
        <td><a href="mailto:{{item.email}}">{{item.email}}</a></td>
        <td width="250px" class="text-right">{{item.getContact(fieldName)}}</td>
        <td>{{item.diff}}</td>
        <td class="btn-group-xs">
            <a ng-href="{{item.getShowUrl(item.id,me )}}" class="btn"
               ng-class="{'btn-primary': !item.fired, ' btn-danger':item.fired}">
            <span class="glyphicon"
                  ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"
                  aria-hidden="true"></span>
            </a>


        </td>
        <!--<td class="btn-group-xs">-->
        <!--<a href="#">-->
        <!--<span ng-if="mode" ng-click="delete(item)" class="glyphicon glyphicon-trash"></span>-->
        <!--</a>-->
        <!--</td>-->
    </tr>
</table>