<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">
    <div class="page-header">
        <h1>
            <p ng-class="{'fired':!item.active}"><!--{{item.sc()}}:--> {{item.getFullName()}} <span ng-if="!item.active" ng-bind="item.deactivation()"></span></p>
            <a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                сотрудников: </a>

            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <a  ng-href="{{item.getListUrl()}}"  type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-warning':item.active, 'panel-default':!item.active}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать</h3>
                </div>

                <div class="panel-body">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"  ng-model="item.active">Активность
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Фамилия</label>
                        <input type="text" class="form-control" ng-model="item.lname">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Имя</label>
                        <input type="text" class="form-control" ng-model="item.fname">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Отчество</label>
                        <input type="text" class="form-control" ng-model="item.pname">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess2">Email</label>
                        <input type="text" class="form-control" ng-model="item.email">
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess3">Описание</label>
                        <input type="text" class="form-control" ng-model="item.description">
                        <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>

                    <div class="form-group ">
                        <div class="form-group " ng-if="item.createdAt">
                            <label class="control-label" for="inputSuccess18">Зарегистрирован в системе</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                {{item.createdAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="form-group " ng-if="item.updatedAt">
                            <label class="control-label" for="inputSuccess18">Последний раз редактировалось</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <a ng-click="saveEdit(item)" class="btn  btn-success">
                            <span class="glyphicon glyphicon-check"></span>
                            Сохранить
                        </a>
                        <a  ng-href="{{item.getListUrl()}}"  class="btn  btn-warning">
                            <span class="glyphicon glyphicon-list"> </span>
                            Список
                        </a>

                        <!--<a href="/admin/departments/edit/{{data.id}}"-->
                           <!--class="btn btn-default btn-sm pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                        <!--</a>-->
                        <button ng-if="item.id" ng-click="delete(item)" class="btn btn-sm btn-default pull-right" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-success':item.active, 'panel-default':!item.active}">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="(key, value) in item">
                                <th>{{key}}</th>
                                <td>{{value  }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

