<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Условия использования ресурса</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/images/icons/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content class="md-padding">
                <section class="s_title">
                    <div class="inner">
                        <div class="title">
                            <h1>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта&nbsp;<a href="http://poaleell.com">poaleell.com</a> (далее&nbsp;— «Сайт»).</h1>
                        </div>
                        <p style="text-align: center; line-height: normal;" align="center"><strong>&nbsp;</strong></p>
                        <p style="margin-bottom: 0.0001pt; text-align: justify; text-indent: 35.45pt; line-height: normal;"></p>
                        <p><strong>1.Общие условия</strong></p>
                        <p>1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
                        <p>1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</p>
                        <p>1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.</p>
                        <p><strong>2. Обязательства Пользователя</strong></p>
                        <p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
                        <p>2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270&nbsp;Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</p>
                        <p>2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274&nbsp;Г.К РФ).</p>
                        <p>2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
                        <p>2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</p>
                        <p>2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
                        <p>2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>
                        <p><strong>3. Прочие условия</strong></p>
                        <p>3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
                        <p>3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
                        <p>3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</p>
                        <p>3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.</p>
                        <p><strong>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</strong></p>
                        <div style="display:none;">145</div>
                    </div>
                </section>
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions  layout-align="center center" layout="row">
            <!--<md-button ng-click="cancel('Отмена')" >-->
            <!--Восстановить-->
            <!--</md-button>-->
            <!--<md-button href="/signup">-->
                <!--Регистрация-->
            <!--</md-button>-->

            <md-button ng-click="cancel()" md-autofocus>
                Ok
            </md-button>
            <!--<md-button ng-click="answer(loginForm)" class="btn btn-success">-->
            <!--<span ng-show="!loginForm.loading">ВОЙТИ</span>-->
            <!--<span ng-show="loginForm.loading" class="fa fa-spinner"></span>-->
            <!--<span ng-show="loginForm.loading">Секунду...</span>-->
            <!--</md-button>-->



        </md-dialog-actions>
    </form>
</md-dialog>
