<md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                md-direction="{{demo.selectedDirection}}">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon md-svg-src="/images/icons/svg/menu.svg"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">

            <md-button aria-label="label" class="md-icon-button">
                <md-icon md-svg-src="/images/icons/svg/ic_label_24px.svg"></md-icon>
            </md-button>
                  info@poaleell.com   <md-button aria-label="comment" class="md-icon-button">
                            <md-icon md-svg-src="/images/icons/svg/ic_comment_24px.svg"></md-icon>
                        </md-button>
         +7 910 406 7 406
         <md-button aria-label="photo" class="md-icon-button">
                <md-icon md-svg-src="/images/icons/svg/ic_phone_24px.svg"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
<h3 class="logo-root-kennel text-center text-uppercase text-nowrap">KENNEL CLUB</h3>
<h1 class="logo-root text-center text-uppercase ">Poale Ell</h1>
<h4 class="logo-root-chinese text-center text-capitalize">Chinese Crested Dog</h4>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <div class="otboy">
            <md-button ng-click="showAdvanced($event)" class="md-primary">ВОЙТИ</md-button>
            <div ng-if="status" id="status">
                <em layout="row" layout-align="center center" class="md-padding">
                    {{status}}
                </em>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

















