<!--<div class="row">-->
    <!--<div class="col-md-4">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<h2>Heading</h2>-->
        <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
        <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
    <!--</div>-->
<!--</div>-->
<div class="row"><div class="col-md-offset-4">
        <!--<h3>Вход в закрытую часть</h3>-->
    </div></div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <form ng-submit="submitLoginForm()" class="navbar-form ">



            <div class="form-group">
                <p>  <input ng-model="loginForm.email" type="text" placeholder="Email or Login" name="email" class="form-control"></p>
<p> <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control"></p>


            </div>
            <div>  <button type="submit" class="btn btn-success">
                    <span ng-show="!loginForm.loading">ВОЙТИ</span>
                    <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                    <span ng-show="loginForm.loading">Секунду...</span>
                </button></div>
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>