<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="col-md-10"><p class="text-muted">kadr v0.5.2 &copy; <script> document.write(new Date().getFullYear());</script> <a href="http://corp/">corp</a></p></div>
    </div>
</footer>

<script>
//    var navigation = document.getElementById('avatar');
//    function addStickyClass() {
//        // Every time this function fires, we calculate the scroll position
//        var currentDistance = document.body.scrollTop;
//
//        // If we've scrolled 90px down, add the 'is-sticky' class to our nav.
//        // If not, remove the 'is-sticky' class.
//        if (currentDistance > 90) {
//            navigation.className = 'fixed';
//        } else {
//            navigation.className = '';
//        }
//    }
//    window.addEventListener('scroll', addStickyClass);
//    var avatarElem = document.getElementById('avatar');
//
//    var avatarSourceBottom = avatarElem.getBoundingClientRect().bottom + window.pageYOffset;
//
//    window.onscroll = function() {
//        if (avatarElem.classList.contains('fixed') && window.pageYOffset < avatarSourceBottom) {
//            avatarElem.classList.remove('fixed');
//        } else if (window.pageYOffset > avatarSourceBottom) {
//            avatarElem.classList.add('fixed');
//        }
//    };
</script>

