<footer class="footer" xmlns="http://www.w3.org/1999/html" ng-cloak>
    <div class="container">
        <div class="col-md-10"><p class="text-muted">v0.1.0 &copy; <script> document.write(new Date().getFullYear());</script> <a href="http://poaleell.ru">Poale Ell Kennel</a></p></div>
    </div>
</footer>



