<div ng-controller="navPageController" ng-cloak class="container-fluid" >
    <nav class="navbar custom navbar-fixed-top" ng-if="me">
        <div class="container">
            <div class="navbar-header">
                <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/#" class="pull-left brighten">
                    <img height="83" width="324" src="/images/logo.png" style="margin: 15px; ">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:active('home.about')}"><a ui-sref="home.about"> О питомнике <span class="sr-only">(current)</span></a></li>
                    <!--<li ng-class="{active:active('home.about')}"><a ui-sref="home.about"> Щенки <span class="sr-only">(current)</span></a></li>-->
                    <li ng-if="me.kadr || me.admin" ng-class="{active:active('home.admin.catalogs')}"><a ui-sref="home.admin.catalogs">Собаки</a></li>
                    <li ng-if="!me.kadr && !me.admin" ng-class="{active:active('home.admin.catalogs')}"><a ui-sref="home.catalogs">Собаки</a></li>


                    <li class="dropdown">
                        <a ng-if="(me.kadr || me.admin || me.leader)" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Справочники
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-class="{active:active('home.admin.catalogs')}"><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.catalogs">Каталог</a></li>
                            <li ng-class="{active:active('home.admin.users')}"><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.users">Пользователи</a></li>
                            <li ng-class="{active:active('home.admin.departments')}"><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.departments">Питомники</a></li>
                            <li ng-class="{active:active('home.admin.positions')}"><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.positions">Должности</a></li>
                            <li ng-class="{active:active('home.admin.honors')}"><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.honors">Награды</a></li>
                            <li ng-class="{active:active('home.admin.titles')}"><a ng-if="(me.kadr || me.admin)"  ui-sref="home.admin.titles">Титулы</a></li>
                            <li ng-class="{active:active('home.admin.reactions')}"><a ng-if="(me.kadr || me.admin)"  ui-sref="home.admin.reactions">Тесты</a></li>
                            <li ng-class="{active:active('home.admin.administration')}"><a ng-if="me.admin" ui-sref="home.admin.users.administration">Группы</a></li>
                        </ul>
                    </li>
                </ul>
                <ul ng-show="me.id" class="nav navbar-nav navbar-right">
                    <li class="gravatarSm">
                        <img class="gravatarSm" ng-src="{{me.avatarUrl}}" height="48" />
                    </li>
                    <li class="activityOverlord active">
                        <a href="/profile" class="pointer"> {{me.login}} <span ng-if="me.phoneInner">({{me.phoneInner}})</span></a>
                    </li>
                    <li>
                        <form  class="navbar-form navbar-right" autocomplete="off">
                            <md-button class="md-primary md-hue-3" ng-click="signOut()" >Выход</md-button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
