<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="#">КС</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a ui-sref="account">Аккаунт</a></li>
                <li><a ui-sref="contact.detail">Detail</a></li>
                <li><a ui-sref="home.admin">Admin</a></li>
                <li><a ui-sref="home.admin.users">Users</a></li>
                <!--<li><a ui-sref="admin.users.edit({userId:'588b46b6d20dd30c17b27f03'})">Users Edit</a></li>-->
                <!--<li><a ui-sref="contact">Contact</a>-->

                    <!-- Also a way to navigate -->


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Admin
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Редактирование</li>
                        <!--<li><a ui-sref="admin.users.list">Сотрудники</a></li>-->
                        <li><a ui-sref="home.admin.users">Сотрудники</a></li>
                        <li><a ui-sref="home.admin.departments">Отделы</a></li>


                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Просмотр</li>
                        <li><a href="#">Структура компании</a></li>
                        <li><a href="#">Отделы</a></li>
                        <li><a href="#">Склад</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-class="!navCollapsed && 'in'">

                <li><a href="./"><%= me.firstName %> <%= me.patronymicName %> (<%= me.login %>)</a></li>

                <li>
                    <form action="/logout" class="navbar-form navbar-right">
                        <button class="btn btn-success btn-md" type="submit">Выход</button>
                    </form>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
