<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left brighten"><img height="29" width="29"  src="/images/logo.png" style="margin: 10px; "></a>
            <a class="navbar-brand" href="/">КС</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'">
            <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">
                <div class="form-group">
                    <input ng-model="loginForm.email" type="text" placeholder="Email or Login" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">
                    <span ng-show="!loginForm.loading">Войти</span>
                    <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                    <span ng-show="loginForm.loading">Секунду...</span>
                </button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
        </div>
    </div>
</nav>