<div class="col-sm-11  col-md-12  main" ng-cloak>
    <div class="page-header">
        <h1>
            <p ng-if="item.name || item.symbol" ng-class="{'fired':item.fired}">
                <span ng-if="item.name">{{item.getFullName()}}</span>
                <span ng-if="!item.name">{{item.kennels[0].name}} {{item.symbol}} {{item.alias}}
                  <span class="glyphicon glyphicon-question-sign" ng-mouseover="symbolNick=true"
                        ng-mouseleave="symbolNick=false"></span>
                <small ng-if="symbolNick">(имя не придумано, пока есть только литера)
                </small>
                </span>
                <span ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
            </p>
            <p ng-if="!item.name && !item.symbol">{{newObjectName}}</p>
            <a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                Возраст: {{item.dateInWork | date:'dd.MM.yyyy' }} {{item.age()}}</a>
            <a href="#" class="btn btn-info btn-xs " ng-if="item.decree"
               title="Отпуск по уходу за ребёнком c {{item.decree|date:'dd.MM.yyyy'}}"> В отпуске </a>
            <a href="#" class="btn btn-danger btn-xs disabled" ng-show="item.fired" role="button">сотрудник уволен
                {{item.firedDate |
                date:'dd.MM.yyyy'}}</a>
            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span> Сохранить
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span> Список
                </a>
                <button ng-cloak ng-if="!item.action && edit && me.admin" ng-click="delete2(item)"
                        class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
            </div>
        </h1>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default>
                        <a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
                    </span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="row">
        <div ng-class="{'col-md-6':!item.inlinePanel, 'col-md-12':item.inlinePanel, 'fx-fade-left':item.inlinePanel, 'fx-fade-right':!item.inlinePanel}">
            <div class="panel" ng-class="{'panel-warning':!item.fired, 'panel-default':item.fired}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать
                        <a href="#" ng-click="inline()" class="pull-right">
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-menu-right':close,'glyphicon-menu-left':!close}"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="myForm" novalidate ng-submit="saveEdit(item)" enctype="multipart/form-data">

                        <div class="form-inline">
                            <div class="form-group">
                                <div ng-if="(me.kadr)" class="checkbox">

                                    <!-- A C T I O N -->

                                    <label>
                                        <!--<input type="checkbox" ng-model="item.action">-->
                                        <md-checkbox ng-model="item.action"> Активность</md-checkbox>

                                        <span class="glyphicon glyphicon-question-sign" ng-mouseover="actionNick=true"
                                              ng-mouseleave="actionNick=false"></span>
                                        <small ng-if="actionNick">(видимость собаки на сайте и использования её в других
                                            модулях)
                                        </small>
                                    </label>
                                </div>
                            </div>


                            <!-- S A L E S -->

                            <div class="form-group pull-right">
                                <!--<md-checkbox ng-model="item.sales">Продаётся</md-checkbox>-->
                                <md-switch ng-model="item.sales" aria-label="Switch 1"
                                           ng-change="onChange(item.sales)">
                                    <span ng-if="!item.sales" ng-cloak>Не продаётся</span>
                                    <span ng-if="item.sales" ng-cloak> Продаётся</span>
                                    <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="salesNick=true"-->
                                    <!--ng-mouseleave="salesNick=false"></span>-->
                                    <!--<small ng-if="salesNick">(выставить на продажу)</small>-->
                                </md-switch>
                            </div>
                        </div>
                        <!-- S A L E S  D E S C R I P T I O N -->

                        <div class=" clearfix animate-if" ng-if="item.sales">
                            <textarea class="form-control " ng-model="item.salesDescription"
                                      placeholder="Напишите здесь что нибудь о товаре, который желаете продать."
                                      rows="3"></textarea>

                        </div>

                        <!-- P R I C E -->

                        <div class=" animate-if" ng-if="item.sales">
                            <div class="form-group">
                                <label class="control-label" for="inputSuccess3">
                                    Цена
                                    <span class="glyphicon glyphicon-question-sign" ng-mouseover="priceNick=true"
                                          ng-mouseleave="priceNick=false"></span>
                                    <small ng-if="priceNick && edit">(установите цену в зависимости от валюты)</small>
                                    <small ng-if="priceNick && !edit">(настройки цены появятся после сохранения
                                        собаки)
                                    </small>
                                </label>

                                <!--<pre>dd:{{item.price | json}}</pre>-->
                                <!--<ul ng-repeat="pr in item.price">-->
                                <!--<li>{{pr.name}}</li>-->
                                <!--<li>{{pr.name}}</li>-->
                                <!--</ul>-->
                                <div ng-repeat="pr in item.price">
                                    <md-slider-container ng-disabled="pr.isDisabled">
                                        <!--<i class="fa fa-text-height" aria-hidden="true"></i>-->
                                        <i class="fa fa-{{pr.name}}" aria-hidden="true">
                                            <md-tooltip md-direction="top">{{pr.title}}</md-tooltip>
                                        </i>

                                        <md-slider ng-model="pr.how" step="{{pr.step}}" min="{{pr.min}}"
                                                   max="{{pr.max}}"
                                                   aria-label="Disabled {{$index + 1}}" flex md-discrete
                                                   ng-readonly="readonly"
                                                   ng-class="{'md-primary':pr.name==='usd','md-orange':pr.name==='euro'}"></md-slider>
                                        <md-input-container>
                                            <input flex type="number" step="{{pr.step}}" min="{{pr.min}}"
                                                   max="{{pr.max}}" ng-model="pr.how"
                                                   aria-label="green" aria-controls="green-slider">
                                        </md-input-container>
                                    </md-slider-container>
                                    <md-checkbox ng-model="pr.isDisabled">
                                        <span title="Выключена валюта"
                                              ng-class="{'text-danger':pr.isDisabled,'text-u':pr.isDisabled,'text-muted':!pr.isDisabled}">выкл</span>/
                                        <span title="Валюта включена"
                                              ng-class="{'text-danger':!pr.isDisabled,'text-muted':pr.isDisabled}">вкл</span>
                                    </md-checkbox>
                                    <!--<md-slider-container ng-disabled="isDisabled">-->
                                    <!--<md-icon md-svg-icon="device:brightness-low"></md-icon>-->
                                    <!--<md-slider ng-model="disabled1" aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>-->

                                    <!--<md-input-container>-->
                                    <!--<input flex type="number" ng-model="disabled1" aria-label="green" aria-controls="green-slider">-->
                                    <!--</md-input-container>-->
                                    <!--</md-slider-container>-->

                                </div>
                                <!--<md-slider-container ng-disabled="isDisabled">-->
                                <!--&lt;!&ndash;<i class="fa fa-text-height" aria-hidden="true"></i>&ndash;&gt;-->
                                <!--<i class="fa fa-eur" aria-hidden="true"></i>-->
                                <!--<md-slider ng-model="item.price[0].euro" step="1000" min="1000" max="200000"-->
                                <!--aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>-->
                                <!--<md-input-container>-->
                                <!--<input flex type="number" step="1000" min="1000" max="200000" ng-model="item.price[0].euro"-->
                                <!--aria-label="green" aria-controls="green-slider">-->
                                <!--</md-input-container>-->
                                <!--</md-slider-container>-->
                                <!--<md-slider-container ng-disabled="isDisabled">-->
                                <!--&lt;!&ndash;<i class="fa fa-text-height" aria-hidden="true"></i>&ndash;&gt;-->
                                <!--<i class="fa fa-usd" aria-hidden="true"></i>-->
                                <!--<md-slider ng-model="item.price[0].usd" step="1000" min="1000" max="200000"-->
                                <!--aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>-->
                                <!--<md-input-container>-->
                                <!--<input flex type="number" step="1000" min="1000" max="200000" ng-model="item.price[0].usd"-->
                                <!--aria-label="green" aria-controls="green-slider">-->
                                <!--</md-input-container>-->
                                <!--</md-slider-container>-->
                                <!--<md-checkbox ng-model="isDisabled">Is disabled</md-checkbox>-->
                                <!--<md-slider ng-model="disabled2" ng-disabled="true" aria-label="Disabled 2"></md-slider>-->
                                <div style="margin-top: 50px;"></div>
                            </div>
                        </div>


                        <!--< K E N N E L -->

                        <div ng-if="!edit" ng-controller="ListDepartmentController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span ng-if="!item.kennels[0].id">[ <a href="#"
                                                                   ng-click="addKennelField()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="kennels in item.kennels">
                                <div class="form-group">
                                    <select class="form-control" ng-model="kennels.id">
                                        <option ng-repeat="option in items | filter:{action:true}"
                                                value="{{option.id}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                    <!--<div class="form-group pull-right">-->
                                    <!--<button type="button" class="btn btn-default "-->
                                    <!--ng-click="removeKennelItem(kennels)"><span-->
                                    <!--class="glyphicon glyphicon-remove"></span></button>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>


                        <!--S Y M B O L / ALIAS-->

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="symbol" class="control-label">
                                        Буква помёта
                                        <span ng-show="myForm.symbol.$error.unknownValue"
                                              class="glyphicon glyphicon-question-sign" ng-mouseover="symbolNick=true"
                                              ng-mouseleave="symbolNick=false"></span>
                                        <small ng-if="symbolNick">(обязательно к заполнению если регистрируете помёт)
                                        </small>
                                    </label>
                                    <div class="form-group form-inline">
                                        <custom-select class="form-control" name="symbol" ng-model="item.symbol"
                                                       options="optionsSelectSymbol"></custom-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-2" ng-if="item.symbol">
                                <div class="form-group">
                                    <label for="symbol" class="control-label">
                                        Псевдоним при рождении
                                        <span ng-show="myForm.symbol.$error.unknownValue"
                                              class="glyphicon glyphicon-question-sign" ng-mouseover="symbolNick=true"
                                              ng-mouseleave="symbolNick=false"></span>
                                        <small ng-if="symbolNick">(обязательно к заполнению если регистрируете помёт)
                                        </small>
                                    </label>
                                    <input minlength="1" maxlength="40"
                                           class="form-control offset-2"
                                           ng-model="item.alias">
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="item.symbol">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="symbol" class="control-label">
                                        Время рождения
                                        <!--<span ng-show="myForm.symbol.$error.unknownValue"-->
                                        <!--class="glyphicon glyphicon-question-sign" ng-mouseover="symbolNick=true"-->
                                        <!--ng-mouseleave="symbolNick=false"></span>-->
                                        <!--<small ng-if="symbolNick">(обязательно к заполнению если регистрируете помёт)-->
                                        <!--</small>-->
                                    </label>
                                    <input class="form-control flatpickr" ng-flatpickr fp-opts="timeOpts"
                                           fp-on-setup="datePostSetup(fpItem)"
                                           ng-model="item.timeBirthday" data-enabletime="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="symbol" class="control-label">
                                        Продолжить вносить данные ...
                                        <!--<span ng-show="myForm.symbol.$error.unknownValue"-->
                                        <!--class="glyphicon glyphicon-question-sign" ng-mouseover="symbolNick=true"-->
                                        <!--ng-mouseleave="symbolNick=false"></span>-->
                                        <!--<small ng-if="symbolNick">(обязательно к заполнению если регистрируете помёт)-->
                                        <!--</small>-->
                                    </label><br>
                                    <button ng-click="saveDiary(item)" type="button" class="btn btn-info btn-md">
                                        <span class="glyphicon glyphicon-check"></span> Дневник
                                    </button>
                                    <button ng-click="saveJournal(item)" type="button" class="btn btn-warning btn-md">
                                        <span class="glyphicon glyphicon-check"></span> Журнал
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>


                        <!--N A M E-->

                        <div ng-if="!edit || !name" class="form-group">
                            <label class="control-label" for="inputSuccess1">
                                Имя
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="show=true"
                                      ng-mouseleave="show=false"></span>
                                <small ng-if="show && (!edit)">( та часть имени, которая пишется после названия
                                    питомника)
                                </small>
                            </label>
                            <input autofocus minlength="2" maxlength="40" ng-change="getLdap()"
                                   type="text"
                                   class="form-control"
                                   ng-model="item.name">
                        </div>


                        <!-- N I C K N A M E -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">Кличка

                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="showNick=true"
                                      ng-mouseleave="showNick=false"></span>
                                <small ng-if="showNick">(как называете дома, прозвище, ласковое имя)</small>
                            </label>
                            <input type="text" class="form-control" minlength="2" maxlength="70"
                                   ng-model="item.nickname">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!--< S I R E S -->
                        <!--<input type="text" ng-model="nameKennel">-->

                        <!--<select ng-if="kennels.length"  size="{{kennels.length}}" class="form-control" ng-model="nameKennel">-->
                        <!--<option ng-repeat="option in kennels" value="{{option.id}}">-->
                        <!--{{option.name}}-->
                        <!--</option>-->
                        <!--</select>-->

                        <div ng-controller="ListCatalogController" class="form-group ">
                            <label class="control-label">Отец</label>
                            <!--<span>[ <a href="#" ng-click="addSireField()">добавить</a> ]</span>-->
                            <!--<div class="form-inline" ng-repeat="sires in item.sires">-->
                            <div class="form-group form-inline">
                                <select class="form-control" ng-model="item.sires.id">
                                    <option ng-repeat="option in items | itsNotMe:item.id | filter:{action:true, gender:'кобель'} | orderBy:'kennels[0].name'"
                                            value="{{option.id}}">
                                        {{option.getFullName()}}
                                    </option>
                                </select>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default "
                                            ng-click="removeSireItem(sires)"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                            <!--</div>-->
                        </div>


                        <!--< D A M S -->

                        <div ng-controller="ListCatalogController" class="form-group ">
                            <label class="control-label">Мать</label>
                            <!--<span>[ <a href="#" ng-click="addSireField()">добавить</a> ]</span>-->
                            <!--<div class="form-inline" ng-repeat="sires in item.sires">-->
                            <div class="form-group form-inline">
                                <select class="form-control" ng-model="item.dams.id">
                                    <option ng-repeat="option in items | itsNotMe:item.id | filter:{action:true, gender:'сука'} | orderBy:'kennels[0].name'"
                                            value="{{option.id}}">
                                        {{option.getFullName()}}
                                    </option>
                                </select>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default " ng-click="removeSireItem(dams)"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                            <!--</div>-->
                        </div>


                        <!-- B I R T H D A Y -->

                        <div class="form-group">
                            <label class="control-label">
                                Дата рождения
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.birthday">
                                <span class="input-group-btn">
                              <!--<button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span-->
                                    <!--class="glyphicon glyphicon-remove"></span></button>-->
                            </span>
                            </div>
                        </div>


                        <!-- G E N D E R -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Пол
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="genderNick=true"
                                      ng-mouseleave="genderNick=false"></span>
                                <small ng-if="genderNick">(какого рода собака: сука-female | кобель-male)</small>
                            </label>
                            <custom-select class="form-control" name="gender" ng-model="item.gender"
                                           options="optionsSelectGender"></custom-select>
                        </div>


                        <!-- W E I G H T -->

                        <div class="form-group">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label" for="inputSuccess3">
                                        Вес <span class="glyphicon glyphicon-question-sign"
                                                  ng-mouseover="weightNick=true"
                                                  ng-mouseleave="weightNick=false"></span>
                                        <small ng-if="weightNick">(вес в граммах пример: 4300 = 4кг 300г)</small>
                                    </label>
                                </div>
                                <!--<div class="form-group ">-->
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="weightDatNick=true"-->
                                <!--ng-mouseleave="weightDatNick=false"></span>-->
                                <!--<small ng-if="weightDatNick">(дата последнего взвешивания)</small>-->
                                <!--</div>-->
                                <div class="form-group pull-right">
                                    <label class="control-label">
                                        <i class="fa fa-calendar-check-o" aria-hidden="true">

                                        <md-tooltip md-direction="top">дата последнего взвешивания</md-tooltip>
                                        </i>
 <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="weightDatNick=true"-->
       <!--ng-mouseleave="weightDatNick=false"></span>-->
                                        <!--<small ng-if="weightDatNick">(дата последнего взвешивания)</small>-->
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control flatpickr" ng-flatpickr
                                               fp-opts="dateOpts"
                                               fp-on-setup="toggleBlur(item)"
                                               ng-model="item.dateWeight">
                                        <span class="input-group-btn">
                              <!--<button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span-->
                                            <!--class="glyphicon glyphicon-remove"></span></button>-->
                                        </span>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <md-slider-container ng-disabled="isDisabled">
                                <!--<i class="fa fa-text-height" aria-hidden="true"></i>-->
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                <md-slider ng-model="item.weight" step="100" min="100" max="9999"
                                           aria-label="Disabled 1" flex md-discrete
                                           ng-readonly="readonly"></md-slider>
                                <md-input-container>
                                    <input flex type="number" step="100" min="100" max="9999" ng-model="item.weight"
                                           aria-label="green" aria-controls="green-slider">
                                </md-input-container>
                            </md-slider-container>

                            <!--<md-checkbox ng-model="isDisabled">Is disabled</md-checkbox>-->
                            <!--<md-slider ng-model="disabled2" ng-disabled="true" aria-label="Disabled 2"></md-slider>-->
                            <div style="margin-top: 50px;"></div>
                        </div>


                        <!-- G R O W T H -->

                        <!--<div class="form-group">-->
                        <!--<label class="control-label" for="inputSuccess3">-->
                        <!--Рост-->
                        <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="growthNick=true"-->
                        <!--ng-mouseleave="growthNick=false"></span>-->
                        <!--<small ng-if="growthNick">(рост устанавливается в сантиметрах)</small>-->
                        <!--</label>-->
                        <!--<input type="number" maxlength="2" max="35" min="22" class="form-control"-->
                        <!--ng-model="item.growth">-->
                        <!--&lt;!&ndash;<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>&ndash;&gt;-->
                        <!--</div>-->


                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Рост <span class="glyphicon glyphicon-question-sign" ng-mouseover="growthNick=true"
                                           ng-mouseleave="growthNick=false"></span>
                                <small ng-if="growthNick">(рост устанавливается в сантиметрах)</small>
                            </label>
                            <md-slider-container ng-disabled="isDisabled">
                                <i class="fa fa-text-height" aria-hidden="true"></i>
                                <!--<i class="fa fa-balance-scale" aria-hidden="true"></i>-->
                                <md-slider class="md-warn" ng-model="item.growth" step="1" max="35" min="22"
                                           aria-label="Disabled 1" flex md-discrete ng-readonly="readonly"></md-slider>
                                <md-input-container>
                                    <input flex type="number" step="1" max="35" min="22" ng-model="item.growth"
                                           aria-label="green" aria-controls="green-slider">
                                </md-input-container>
                            </md-slider-container>
                            <!--<md-checkbox ng-model="isDisabled">Is disabled</md-checkbox>-->
                            <!--<md-slider ng-model="disabled2" ng-disabled="true" aria-label="Disabled 2"></md-slider>-->
                            <div style="margin-top: 50px;"></div>
                        </div>

                        <!-- V A R I E T Y -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Тип
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="varietyNick=true"
                                      ng-mouseleave="varietyNick=false"></span>
                                <small ng-if="varietyNick">(варианты: голая-hairless | пух-powderpuff)</small>
                            </label>
                            <select class="form-control" name="variety" id="variety" ng-model="item.variety">
                                <option value=""></option>
                                <option value="пух">пух</option>
                                <option value="голая">голая</option>
                            </select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!-- C O L O R -->

                        <div class="form-group">
                            <label class="control-label">
                                Окрас
                                <span class="glyphicon glyphicon-question-sign" ng-mouseover="colorNick=true"
                                      ng-mouseleave="colorNick=false"></span>
                                <small ng-if="colorNick">(цвета помеченные "на рассмотрении", пока официально не
                                    приняты)
                                </small>
                            </label>
                            <select class="form-control" name="color" id="color" ng-model="item.color">
                                <option value=""></option>
                                <option value="Бело-бронзовый">
                                    Бело-бронзовый
                                </option>
                                <option value="Бело-голубой">
                                    Бело-голубой
                                </option>
                                <option value="Бело-кремовый">
                                    Бело-кремовый (на рассмотрении)
                                </option>
                                <option value="Бело-черный">
                                    Бело-черный
                                </option>
                                <option value="Бело-шоколадный">
                                    Бело-шоколадный
                                </option>
                                <option value="Белый">
                                    Белый
                                </option>
                                <option value="Бронзово-белый">
                                    Бронзово-белый
                                </option>
                                <option value="Бронзовый">
                                    Бронзовый
                                </option>
                                <option value="Голубо-белый">
                                    Голубо-белый
                                </option>
                                <option value="Голубой">
                                    Голубой
                                </option>
                                <option value="Кремово-белый">
                                    Кремово-белый (на рассмотрении)
                                </option>
                                <option value="Кремовый">
                                    Кремовый (на рассмотрении)
                                </option>
                                <option value="Муругий">
                                    Муругий (соболинный)
                                </option>
                                <option value="Трёхцветный">
                                    Трёхцветный
                                </option>
                                <option value="Чёрно-белый">
                                    Чёрно-белый
                                </option>
                                <option value="Чёрно-подпалый">
                                    Чёрно-подпалый
                                </option>
                                <option value="Чёрный">
                                    Чёрный
                                </option>
                                <option value="Шоколадно-белый">
                                    Шоколадно-белый
                                </option>
                                <option value="Шоколадно-подпалый">
                                    Шоколадно-подпалый (на рассмотрении)
                                </option>
                                <option value="Шоколадный">
                                    Шоколадный
                                </option>

                            </select>
                        </div>


                        <!--< B R E E D E R -->

                        <div ng-controller="ListController" class="form-group ">
                            <label class="control-label">Заводчик</label>
                            <span>[ <a href="#" ng-click="addBreederField()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="breeder in item.breeders">
                                <div class="form-group">
                                    <select class="form-control" ng-model="breeder.id">
                                        <option ng-repeat="option in items | filter:{action:true} | orderBy:'lastName'"
                                                value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default "
                                                ng-click="removeBreederItem(breeder)">
                                            <span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--< O W N E R  -->

                        <div ng-controller="ListController" class="form-group ">
                            <label class="control-label"> Владелец </label>
                            <span>[ <a href="#" ng-click="addOwnerField()">добавить</a> ]</span>
                            <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="ownerNick=true"-->
                            <!--ng-mouseleave="ownerNick=false"></span>-->
                            <!--<small ng-if="ownerNick">(название питомника если нет, то имя хозяина)</small>-->
                            <div class="form-inline" ng-repeat="owner in item.owners">
                                <div class="form-group">
                                    <select class="form-control" ng-model="owner.id">
                                        <option ng-repeat="option in items | filter:{action:true} | orderBy:'lastName'"
                                                value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                    <div class="form-group pull-right">
                                        <button type="button" class="btn btn-default "
                                                ng-click="removeOwnerItem(owner)"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                    <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                </div>
                            </div>
                        </div>


                        <!--< N E W  T I T L E S -->

                        <div ng-controller="ListTitleController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span>[ <a href="#" ng-click="addItem()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="title in item.titles">
                                <div class="form-group">
                                    <select class="form-control" ng-model="title.id">
                                        <option ng-repeat="option in items | filter:{action:true} | orderBy:'name'"
                                                value="{{option.id}}">
                                            {{option.getFullName()}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group caption">
                                    <div class="file-upload ">
                                        <label class="text-left">
                                            <input type="file" nv-file-select="" uploader="uploadTitles" multiple/>
                                            <div class="form-inline"
                                                 ng-repeat="foto in filtered=(item.photos | filter:{$:searchText, catalogs:item.id, titles:item.titles[$index].id})">
                                                <img ng-click="getTitle(title)" width="80" ng-src="{{foto.photoUrl}}"
                                                     alt="">

                                            </div>
                                            <span ng-if="title.name " ng-click="getTitle(title)"
                                                  class="glyphicon glyphicon-camera" role="button"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="text-right">{{title.description}}</small>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default "
                                            ng-click="removeItem(title, filtered[0])"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>


                        <!--< N E W  T E S T S / R E A C T I O N S -->

                        <div ng-controller="ListReactionController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span>[ <a href="#" ng-click="addReaction()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="reaction in item.reactions">
                                <div class="form-group">
                                    <select class="form-control" ng-model="reaction.id">
                                        <option ng-repeat="option in items | filter:{action:true}"
                                                value="{{option.id}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group caption">
                                    <div class="file-upload ">
                                        <label class="text-left">
                                            <input type="file" nv-file-select="" uploader="uploadReactions" multiple/>
                                            <div class="form-inline"
                                                 ng-repeat="fot in filtersed=(item.photos | filter:{$:searchText, catalogs:item.id, reactions:item.reactions[$index].id})">
                                                <img ng-click="getReaction(reaction)" width="80"
                                                     ng-src="{{fot.photoUrl}}" alt="">
                                            </div>
                                            <span ng-if="reaction.name " ng-click="getReaction(reaction)"
                                                  class="glyphicon glyphicon-camera" role="button"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <small class="text-right">{{reaction.description}}</small>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="button" class="btn btn-default "
                                            ng-click="removeReaction(reaction, filtersed[0])"><span
                                            class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>


                        <!-- P E D I G R E E -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                № Pedigree
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="pedigreeNick=true"-->
                                <!--ng-mouseleave="pedigreeNick=false"></span>-->
                                <!--<small ng-if="pedigreeNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.pedigree">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <!-- R K F -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                № РКФ
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="rkfNick=true"-->
                                <!--ng-mouseleave="rkfNick=false"></span>-->
                                <!--<small ng-if="rkfNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.rkf">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!-- P L L -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                PLL
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="pllNick=true"-->
                                <!--ng-mouseleave="pllNick=false"></span>-->
                                <!--<small ng-if="pllNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <custom-select class="form-control" name="pll" ng-model="item.pll"
                                           options="optionsSelectPll"></custom-select>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>

                        <!-- P R A -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                PRA
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="praNick=true"-->
                                <!--ng-mouseleave="praNick=false"></span>-->
                                <!--<small ng-if="praNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <custom-select class="form-control" name="pra" ng-model="item.pra"
                                           options="optionsSelectPll"></custom-select>

                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!-- D M -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                DM
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="dmNick=true"-->
                                <!--ng-mouseleave="dmNick=false"></span>-->
                                <!--<small ng-if="dmNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <custom-select class="form-control" name="dm" ng-model="item.dm"
                                           options="optionsSelectPll"></custom-select>
                        </div>

                        <!-- S T A M P -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Клеймо
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="stampNick=true"-->
                                <!--ng-mouseleave="stampNick=false"></span>-->
                                <!--<small ng-if="stampNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.stamp">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!-- C H I P -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Чип
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="chipNick=true"-->
                                <!--ng-mouseleave="chipNick=false"></span>-->
                                <!--<small ng-if="chipNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>
                            <input type="text" class="form-control" ng-model="item.chip">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!-- D E S C R I P T I O N -->

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">
                                Описание
                                <!--<span class="glyphicon glyphicon-question-sign" ng-mouseover="chipNick=true"-->
                                <!--ng-mouseleave="chipNick=false"></span>-->
                                <!--<small ng-if="chipNick">(рост устанавливается в сантиметрах)</small>-->
                            </label>

                            <textarea class="form-control" ng-model="item.description" rows="3"></textarea>
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <!-- D E A T H -->

                        <div class="form-group">
                            <label class="control-label">
                                Дата смерти
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.death">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeDeath(item)"><span
                                      class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>


                        <!-- R E G I S T R A T I O N  O N  S Y S T E M -->

                        <div ng-if="(me.admin)" class="row" ng-if="item.id">
                            <div class="col-md-5">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="control-label" for="inputSuccess18">
                                            Зарег. в системе
                                        </label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                            {{item.getCreatedAt() | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>


                            <!-- L A S T  U P D A T E -->

                            <div class="col-md-7">
                                <div class="form-group ">
                                    <div class="form-group " ng-if="item.updatedAt">
                                        <label class="control-label" for="inputSuccess18">Последнее обновление</label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                            {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- C O N T R O L  B U T T O N S -->

                        <div class="form-group">
                            <!--<div class="form-group" style=" position: fixed;margin-left: 50px; margin-bottom: 70px; bottom:0; left:0;">-->
                            <button ng-show="!edit" type="submit" ng-disabled="myForm.$invalid"
                                    class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-user"></span>
                                Сохранить
                            </button>

                            <button ng-show="edit" type="submit" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                                Сохранить
                            </button>
                            <a ng-if="me.admin" ng-href="{{item.getListUrl()}}" class="btn btn-md btn-warning">
                                <span class="glyphicon glyphicon-list"> </span>
                                Список
                            </a>
                            <!--<button ng-if="!item.id" ng-click="revert()" ng-disabled="!canRevert()" class="btn btn-md btn-primary">-->
                            <!--<span class="glyphicon glyphicon-erase"> </span>-->
                            <!--Очистить-->
                            <!--</button>-->


                            <!--<button ng-if="item.id" ui-sref="home.admin.users.edit(data.id)"-->
                            <!--class="btn btn-default btn-md pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                            <!--</button>-->

                        </div>
                    </form>
                    <button ng-show="me.admin" ng-if="!item.action && edit" ng-click="delete2(item)"
                            class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>


        <!--A V A T A R -->

        <div ng-class="{'col-md-6':!item.inlinePanel, 'col-md-12':item.inlinePanel, 'fx-fade-left':item.inlinePanel, 'fx-fade-right':!item.inlinePanel}">
            <div ng-switch on="modeSelect.value">
                <div ng-switch-when="uploader">
                    <ng-include src="uploaderView"></ng-include>
                </div>
            </div>


            <!-- I N F O  P A N E L -->

            <div ng-show="me.admin" ng-if="!closeInfo">
                <div class="panel"
                     ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':!item.inlinePanel, 'fx-fade-left':item.inlinePanel}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Информация
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr ng-repeat="(key, value) in item">
                                    <th>{{key}}</th>
                                    <td>{{value }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <pre ng-if="debug && me.admin"><h3>{{item| json}}</h3></pre>
    </div>
</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

