<!--<h3>LIST {{filtered.length}}</h1>-->
<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText, gender:'кобель',action:true} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>
<!--{{(items | filter:{$:searchText, fired:false} ).length}}-->
<table class="table table-hover">
    <tr head-table type="catalog"></tr>
    <tr ng-repeat="item in filtered=(items | filter:{$:searchText, gender:'кобель',action:true} |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)">

        <td>{{$index+1}}</td>
        <td>
            <a ng-href="{{item.getShowUrl(item.id)}}">
                <img class="object-fit_cover" ng-class="{photoSize:vid}" ng-mouseover="vid=true" ng-mouseleave="vid=false"
                     ng-src="{{item.avatarUrl}}"
                     alt="">
            </a>
        </td>
        <td>
            <a class="position" href="{{item.getEditUrl(item.id)}}">
                {{item.getFullName()}}
            </a>
        </td>
        <td>{{item.gender}}</td>
        <td class="text-center">{{item.weight | number:0}}</td>
        <td class="text-center">{{item.growth}}</td>
        <td>{{item.variety}}</td>
        <td> {{item.color}}</td>
        <td class="position">{{item.breederName(0)}}</td>
        <td class="position">{{item.ownerName(0)}}</td>

        <!--<td>-->
        <!--<ul style="list-style-type: none; margin: 0; padding: 0" class="position" ng-controller="ListDepartmentController"-->
        <!--ng-repeat="subdivision in item.subdivision | filter:{$:searchText}">-->
        <!--<li style="list-style-type: none; margin: 0; padding: 0" ng-repeat="option in items | filter:{$:searchText,id:subdivision.id}">-->
        <!--{{option.name}}-->
        <!--</li>-->
        <!--</ul>-->
        <!--</td>-->
        <!--<td>-->
        <!--<ul style="list-style-type: none; margin: 0; padding: 0" class="position" ng-controller="ListPositionController"-->
        <!--ng-repeat="position in item.positions">-->
        <!--<li style="list-style-type: none" ng-repeat="option in items | filter:position.id">-->
        <!--{{option.name}}-->
        <!--</li>-->
        <!--</ul>-->
        <!--</td>-->
        <!--<td><a href="mailto:{{item.email}}">{{item.email}}</a></td>-->
        <!--<td width="250px" class="text-right">{{item.getContact(fieldName)}}</td>-->

        <td class="btn-group-xs">
            <a ng-href="{{item.getShowUrl(item.id)}}" class="btn" ng-class="{'btn-primary': item.action, ' btn-danger':!item.action}">
                <span class="glyphicon" ng-class="{'glyphicon-eye-open': item.action, 'glyphicon-eye-close':!item.action}"
                      aria-hidden="true"></span>
            </a>
        </td>
        <!--<td class="btn-group-xs">-->
        <!--<a href="#">-->
        <!--<span ng-if="mode" ng-click="delete(item)" class="glyphicon glyphicon-trash"></span>-->
        <!--</a>-->
        <!--</td>-->
    </tr>
</table>


<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText, fired:false} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>