
<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:ftObj ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>

    <td-table dt-items="items" me="me" type="catalogs" name-header="nameHeader" filter-kennel="ftKennel"
              search-text="searchText" default-rows="defaultRows" current-page="currentPage" filter-object="ftObj"></td-table>

<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:ftObj ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>