<!doctype html>
<html lang="en">
<head>
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dogs.css">
    <link rel="stylesheet" href="/styles/e-dashboard.css">
    <link rel="stylesheet" href="/styles/flatpickr.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/navbar_sticky-footer-navbar.css">
    <link rel="stylesheet" href="/styles/style-tree.min.css">
    <link rel="stylesheet" href="/styles/v-accordion.min.css">
    <link rel="stylesheet" href="/styles/z.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
    </script>
</head>
<body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>


<%- body %>

<%- partial('./partials/footer.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/angular-resource.js"></script>
<script src="/js/dependencies/moment.min.js"></script>
<script src="/js/dependencies/moment-precise-range.js"></script>
<script src="/js/dependencies/twix.js"></script>
<script src="/js/dependencies/moment-recur.min.js"></script>
<script src="/js/dependencies/ru.js"></script>
<script src="/js/dependencies/angular-moment.js"></script>
<script src="/js/dependencies/angular-animate.min.js"></script>
<script src="/js/dependencies/angular-aria.min.js"></script>
<script src="/js/dependencies/angular-file-upload.min.js"></script>
<script src="/js/dependencies/angular-js-xlsx.js"></script>
<script src="/js/dependencies/angular-material.min.js"></script>
<script src="/js/dependencies/angular-mocks.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/angular-ui-router.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/flatpickr.js"></script>
<script src="/js/dependencies/jquery-ui.min.js"></script>
<script src="/js/dependencies/jstree.min.js"></script>
<script src="/js/dependencies/lodash.js"></script>
<script src="/js/dependencies/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="/js/dependencies/ng-flatpickr.js"></script>
<script src="/js/dependencies/ng-fx.min.js"></script>
<script src="/js/dependencies/ru_flatpicker.js"></script>
<script src="/js/dependencies/shuffle.min.js"></script>
<script src="/js/dependencies/v-accordion.min.js"></script>
<script src="/js/private/admin/skds/SkdModule.js"></script>
<script src="/js/private/admin/structures/StructureModule.js"></script>
<script src="/js/private/admin/departments/DepartmentModule.js"></script>
<script src="/js/private/admin/calendars/CalendarModule.js"></script>
<script src="/js/private/admin/employees/EmployeeModule.js"></script>
<script src="/js/private/admin/attendances/AttendanceModule.js"></script>
<script src="/js/private/admin/honors/HonorModule.js"></script>
<script src="/js/private/admin/positions/PositionModule.js"></script>
<script src="/js/private/admin/furloughs/FurloughModule.js"></script>
<script src="/js/private/admin/titles/TitleModule.js"></script>
<script src="/js/private/admin/vacations/VacationModule.js"></script>
<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/private/admin/users/UserModule.js"></script>
<script src="/js/private/admin/AdminModule.js"></script>
<script src="/js/public/homepage/HomepageModule.js"></script>
<script src="/js/private/dashboard/showcases/ShowcaseModule.js"></script>
<script src="/js/private/dashboard/DashboardModule.js"></script>
<script src="/js/private/HolidayModule.js"></script>
<script src="/js/private/admin/attendances/ctrl/AttendanceController.js"></script>
<script src="/js/private/admin/attendances/ctrl/CalendarAttendanceController.js"></script>
<script src="/js/private/admin/attendances/ctrl/EditAttendanceController.js"></script>
<script src="/js/private/admin/attendances/ctrl/ListAttendanceController.js"></script>
<script src="/js/private/admin/calendars/ctrl/CalendarController.js"></script>
<script src="/js/private/admin/calendars/ctrl/EditCalendarController.js"></script>
<script src="/js/private/admin/calendars/ctrl/ListCalendarController.js"></script>
<script src="/js/private/admin/catalogs/CatalogModule.js"></script>
<script src="/js/private/admin/catalogs/ctrl/CatalogController.js"></script>
<script src="/js/private/admin/catalogs/ctrl/EditCatalogController.js"></script>
<script src="/js/private/admin/catalogs/ctrl/ListCatalogController.js"></script>
<script src="/js/private/admin/catalogs/ts/controller_test.js"></script>
<script src="/js/private/admin/catalogs/ts/karma.conf.js"></script>
<script src="/js/private/admin/ctrl/AdminController.js"></script>
<script src="/js/private/admin/departments/ctrl/DepartmentController.js"></script>
<script src="/js/private/admin/departments/ctrl/EditDepartmentController.js"></script>
<script src="/js/private/admin/departments/ctrl/ListDepartmentController.js"></script>
<script src="/js/private/admin/employees/ctrl/EditEmployeeController.js"></script>
<script src="/js/private/admin/employees/ctrl/EmployeeController.js"></script>
<script src="/js/private/admin/employees/ctrl/ListEmployeeController.js"></script>
<script src="/js/private/admin/furloughs/ctrl/EditFurloughController.js"></script>
<script src="/js/private/admin/furloughs/ctrl/FurloughController.js"></script>
<script src="/js/private/admin/furloughs/ctrl/ListFurloughController.js"></script>
<script src="/js/private/admin/honors/account/ctrl/AccountController.js"></script>
<script src="/js/private/admin/honors/ctrl/HonorController.js"></script>
<script src="/js/private/admin/positions/ctrl/EditPositionController.js"></script>
<script src="/js/private/admin/positions/ctrl/ListPositionController.js"></script>
<script src="/js/private/admin/positions/ctrl/PositionController.js"></script>
<script src="/js/private/admin/skds/ctrl/ListSkdController.js"></script>
<script src="/js/private/admin/skds/ctrl/SkdController.js"></script>
<script src="/js/private/admin/structures/ctrl/ListStructureController.js"></script>
<script src="/js/private/admin/titles/ctrl/EditTitleController.js"></script>
<script src="/js/private/admin/titles/ctrl/ListTitleController.js"></script>
<script src="/js/private/admin/titles/ctrl/TitleController.js"></script>
<script src="/js/private/admin/users/ctrl/AdministrationController.js"></script>
<script src="/js/private/admin/users/ctrl/DeleteController.js"></script>
<script src="/js/private/admin/users/ctrl/EditController.js"></script>
<script src="/js/private/admin/users/ctrl/ExitUserController.js"></script>
<script src="/js/private/admin/users/ctrl/ListController.js"></script>
<script src="/js/private/admin/users/ctrl/UploaderController.js"></script>
<script src="/js/private/admin/users/ctrl/UserController.js"></script>
<script src="/js/private/admin/users/ts/controller_test.js"></script>
<script src="/js/private/admin/users/ts/karma.conf.js"></script>
<script src="/js/private/admin/vacations/ctrl/EditVacationController.js"></script>
<script src="/js/private/admin/vacations/ctrl/ListVacationController.js"></script>
<script src="/js/private/admin/vacations/ctrl/VacationController.js"></script>
<script src="/js/private/ctrl/navPageController.js"></script>
<script src="/js/private/ctrl/signoutPageController.js"></script>
<script src="/js/private/dashboard/account/ctrl/AccountController.js"></script>
<script src="/js/private/dashboard/ctrl/DashboardController.js"></script>
<script src="/js/private/dashboard/ctrl/EditProfileController.js"></script>
<script src="/js/private/dashboard/ctrl/ProfileController.js"></script>
<script src="/js/private/dashboard/showcases/ctrl/ListShowcaseController.js"></script>
<script src="/js/public/homepage/ctrl/RestoreProfileController.js"></script>
<script src="/js/public/homepage/HomepageController.js"></script>
<script src="/js/public/recovery/passwordRecoveryPageController.js"></script>
<script src="/js/public/recovery/resetPasswordPageController.js"></script>
<script src="/js/public/signup/SignupController.js"></script>
<!--SCRIPTS END-->

</body>
</html>