<div ui-view></div>
<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col-sm-12  col-md-12  ">
        <div class="page-header">
            <h1>Награды
                <small> от {{datePrice}}</small>
                    <span ng-hide="uploaderButtonPrice" style="padding-left: 17px">
                        <a type="submit" target="_blank" href="/honor/full" class="btn  btn-success btn-sm ">
                            Скачать
                        </a>
                    </span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div ng-show="uploader.isHTML5">
                    <div nv-file-drop="" uploader="uploader" options="{ url: '/honor/upload' }">
                        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                            Drag and Drop
                        </div>
                    </div>
                </div>
                <div class="file-upload">
                    <label>
                        <input type="file" nv-file-select="" uploader="uploader" multiple/>
                        <span>Выбрать</span>
                    </label>
                </div>
            </div>
            <div class="col-md-10" style="margin-bottom: 40px">
                <h3>Очередь загрузки</h3>
                <p>Длина очереди: {{uploader.queue.length}}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-left" width="30%">Имя</th>
                        <th class="text-center">Дата</th>
                        <th class="text-center" ng-show="uploader.isHTML5">Размер</th>
                        <th class="text-center" ng-show="uploader.isHTML5">Принято</th>
                        <th class="text-center" ng-show="uploader.isHTML5">Ошибок</th>
                        <th class="text-center" ng-show="uploader.isHTML5">Прогресс</th>
                        <th class="text-center">Статус</th>
                        <th class="text-center">Отчёт</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td class="text-left"><strong>{{ item.file.name }}</strong></td>
                        <td class="text-center">{{item.dateUpload}}</td>
                        <td class="text-center" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td class="text-center">{{item.progress}}%</td>
                        <td class="text-center">{{item.allEr}} {{item.errorPercent}}</td>
                        <td class="text-center" ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                        <span ng-show="item.isSuccess">
                            {{item.statusOk}}
                        </span>
                        <span ng-show="item.isCancel">
                            {{statusSec}}
                        </span>
                        <span ng-show="item.isError" title="">
                             {{statusErr}}
                        </span>
                        </td>
                        <td class="text-center">
                            <a ng-if="item.goReport" class="btn btn-default" target="_blank" href="{{item.pathToReport}}">
                                Скачать
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-default btn-s" ng-click="uploader.clearQueue()"
                            ng-disabled="!uploader.queue.length">
                        Очистить всё
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>