<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->
<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>
            <p ng-if="item.photoUrl" ng-class="{'fired':item.fired}">{{item.sc()}} : {{item.name}}
                <span ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
            </p>
            <p ng-if="!item.photoUrl">Новое фото</p>
            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </h2>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default>
                    <a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
                    </span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-warning':item.action, 'panel-default':!item.action}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать</h3>
                </div>
                <div class="panel-body">
                    <form name="myForm" novalidate ng-submit="saveEdit(item)" enctype="multipart/form-data">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="item.action">Активность
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <label class="control-label" for="inputSuccess1">Наименование</label>
                                    <input type="text" required class="form-control" ng-model="item.name">
                                </div>
                            </div>
                        </div>
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- C A T A L O G -->

                    <div ng-controller="ListCatalogController" class="form-group ">
                        <label class="control-label">Собака</label>
                        <div class="form-group form-inline">
                            <select class="form-control" required ng-model="item.catalogs.id">
                                <option ng-repeat="option in items  | filter:{action:true} | orderBy:'kennels[0].name'"
                                        value="{{option.id}}">
                                    {{option.getFullName()}}
                                </option>
                            </select>
                            <div class="form-group">
                                <button type="button" class="btn btn-default " ng-click="removeCatalogItem(item.catalogs)"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </div>
                    </div>


                    <!-- D E S C R I P T I O N -->

                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Описание</label>
                        <input type="text" class="form-control" ng-model="item.description">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Описание на английском</label>
                        <input type="text" class="form-control" ng-model="item.descriptionEn">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>

                        <div class="form-group">
                        <label class="control-label" for="inputSuccess1">URL photo</label>
                        <input type="text" class="form-control" ng-model="item.photoUrl">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group ">
                        <div class="form-group " ng-if="item.createdAt">
                            <label class="control-label" for="inputSuccess18">Зарегистрирован в системе</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                {{item.createdAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-group " ng-if="item.updatedAt">
                            <label class="control-label" for="inputSuccess18">Последний раз редактировалось</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>
                    <div  class="form-group">
                        <button  ng-click="saveEdit(item)" class="btn  btn-success" ng-disabled="myForm.$invalid">
                            <span class="glyphicon glyphicon-check"></span>
                            Сохранить
                        </button>
                        <!--<a ng-href="{{item.getListUrl()}}" class="btn  btn-warning">-->
                        <!--<span class="glyphicon glyphicon-list"> </span>-->
                        <!--Список-->
                        <!--</a>-->

                        <a ng-show="me.admin" ng-if="!item.action" ng-click="delete(item)"
                           class="btn  btn-default pull-right">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!--A V A T A R -->

        <div ng-class="{'col-md-6':!item.inlinePanel, 'col-md-12':item.inlinePanel, 'fx-fade-left':item.inlinePanel, 'fx-fade-right':!item.inlinePanel}">
            <div ng-switch on="modeSelect.value">
                <div ng-switch-when="uploader">
                    <ng-include src="uploaderView"></ng-include>
                </div>
            </div>


            <!-- I N F O  P A N E L -->
            <div class="panel" ng-class="{'panel-success':item.action, 'panel-default':!item.action}">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="(key, value) in item">
                                <th>{{key}}</th>
                                <td>{{value | date:'dd.MM.yyyy' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <pre ng-if="debug && me.admin"><h3>{{item| json}}</h3></pre>
</div>
<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

