<div class="container">
    <div class="page-header">
        <h1>
            <p ng-class="{'fired':item.fired}">{{item.getFullName()}}</p>
            <a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">работает c {{item.dateInWork |
                date:'dd.MM.yyyy' }}</a>
            <a href="#" class="btn btn-danger btn-xs disabled" ng-show="item.fired" role="button">сотрудник уволен</a>

            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <a href="/admin/users/list" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-warning':!item.fired, 'panel-default':item.fired}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Фамилия</label>
                        <input type="text" class="form-control" ng-model="item.lastName">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess2">Имя</label>
                        <input type="text" class="form-control" ng-model="item.firstName">
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess3">Отчество</label>
                        <input type="text" class="form-control" ng-model="item.patronymicName">
                        <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess4">Дата рождения</label>
                                <input type="date" class="form-control" ng-model="item.birthday">
                                <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess5">Дата рождения</label>
                                <input class="form-control " disabled value="{{item.birthday | date:'dd.MM.yyyy'}}">
                                <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess6">Логин</label>
                        <input type="text" class="form-control" ng-model="item.login">
                        <!--<span id="helpBlock5" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess7">Email</label>
                        <input type="text" class="form-control" ng-model="item.email">
                        <!--<span id="helpBlock9" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess10">Отдел</label>
                        <input type="text" class="form-control" ng-model="item.subdivision">
                        <!--<span id="helpBlock6" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess10">Должность</label>
                        <input type="text" class="form-control" ng-model="item.position">
                        <!--<span id="helpBlock6" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess10">ПФР</label>
                        <input type="text" class="form-control" ng-model="item.pfr">
                        <!--<span id="helpBlock6" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>




                    <div class="form-group ">
                        <label>Телефон:</label>
                        [ <a href="#" ng-click="addContact()">добавить</a> ]


                        <form class="form-inline" ng-repeat="contact in item.contacts">
                            <div class="form-group">
                                <select class="form-control" ng-model="contact.type">
                                    <option>Email</option>
                                    <option>телефон</option>
                                    <option>пейджер</option>
                                    <option>IM</option>
                                    <option>facebook</option>
                                </select>
                                <!--<label class="sr-only" for="exampleInputEmail3">Email address</label>-->
                                <!--<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword3">Password</label>
                                <input class="form-control" type="text" id="exampleInputPassword3" ng-model="contact.value" required>
                            </div>

                            <button type="submit" class="btn btn-default" ng-click="removeContact(contact)">x</button>
                        </form>

                        <!--<select class="form-control" ng-model="contact.type">-->
                        <!--<option>Email</option>-->
                        <!--<option>телефон</option>-->
                        <!--<option>пейджер</option>-->
                        <!--<option>IM</option>-->
                        <!--<option>facebook</option>-->
                        <!--</select>-->
                        <!--<input class="form-control" type="text" ng-model="contact.value" required>-->
                        <!--[ <a href="#" ng-click="removeContact(contact)">×</a> ]-->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess8">Принят на работу</label>
                                <input type="date" class="form-control" ng-model="item.dateInWork">
                                <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess9">Принят на работу</label>
                                <input class="form-control " disabled value="{{item.dateInWork | date:'dd.MM.yyyy'}}">
                                <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="item.fired" > Уволен
                        </label>
                        <label class="control-label" for="inputSuccess10"></label>

                        <!--<span id="helpBlock6" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess8">Редактировать дату увольнения</label>
                                <input type="date" class="form-control" ng-model="item.firedDate">

                                <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess9">Дата увольнения</label>
                                <input class="form-control " disabled value="{{item.firedDate | date:'dd.MM.yyyy'}}">

                                <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess11">Gravatar</label>
                                <input class="form-control " disabled value="{{item.gravatarUrl}}">
                                <!--<input type="text" class="form-control" ng-model="item.gravatarUrl">-->
                                <!--<span id="helpBlock8" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="{{item.gravatarUrl}}" alt="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="inputSuccess12">Зарегистрирован</label>
                        <input class="form-control " disabled value="{{item.lastLoggedIn | date:'dd.MM.yyyy'}}">
                        <!--<span id="helpBlock7" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <a ng-click="saveEdit(item)" class="btn btn-md btn-success">
                            <span class="glyphicon glyphicon-check"></span>
                            Сохранить
                        </a>
                        <a href="/admin/users/list" class="btn btn-md btn-warning">
                            <span class="glyphicon glyphicon-list"> </span>
                            Список
                        </a>
                        <a href="/admin/users/edit/{{data.id}}"
                           class="btn btn-default btn-md pull-right" role="button">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-success':!item.fired, 'panel-default':item.fired}">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="(key, value) in item">
                                <th>{{key}}</th>
                                <td>{{value | date:'dd.MM.yyyy' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




