<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>
            <p ng-if="item.lastName" ng-class="{'fired':item.fired}">{{item.getFullName()}}
                <span ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
            </p>
            <p ng-if="!item.lastName">Новый сотрудник</p>
            <a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                Работает c {{item.dateInWork |
                date:'dd.MM.yyyy' }} ({{item.periodWork()}})</a>
            <a href="#" class="btn btn-info btn-xs " ng-if="item.decree"
               title="Отпуск по уходу за ребёнком c {{item.decree|date:'dd.MM.yyyy'}}"> В отпуске </a>
            <a href="#" class="btn btn-danger btn-xs disabled" ng-show="item.fired" role="button">сотрудник уволен
                {{item.firedDate |
                date:'dd.MM.yyyy'}}</a>
            <div class="btn-group-xs pull-right">
                <button ng-show="edit" ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span> Сохранить
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span> Список
                </a>
                <button ng-cloak ng-if="!item.action && edit && me.admin" ng-click="delete2(item)"
                        class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                </button>
            </div>
        </h2>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default>
        <a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
        </span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="row">
        <div ng-class="{'col-md-6':!inlinePanel, 'col-md-12':inlinePanel, 'fx-fade-left':inlinePanel, 'fx-fade-right':!inlinePanel}">
            <div class="panel" ng-class="{'panel-warning':!item.fired, 'panel-default':item.fired}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать
                        <a href="#" ng-click="inline()" class="pull-right">
                            <span class="glyphicon"
                                  ng-class="{'glyphicon-menu-right':close,'glyphicon-menu-left':!close}"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="userForm" novalidate ng-submit="saveEdit(item)" enctype="multipart/form-data">
                        <div class="form-group">
                            <div ng-if="(me.kadr)" class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="item.action">Активность
                                </label>
                            </div>
                            <label class="control-label" for="inputSuccess1">Фамилия</label>
                            <!--<input  type="text" class="form-control" ng-model="item.lastName">-->
                            <input ng-if="!edit" autofocus required type="text" class="form-control"
                                   ng-model="item.lastName">
                            <!--<input ng-if="!edit" autofocus ng-change="getLdap()" required type="text" class="form-control"-->
                            <!--ng-model="item.lastName">-->
                            <input ng-if="edit" autofocus required type="text" class="form-control"
                                   ng-model="item.lastName">
                            <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="inputSuccess2">Имя</label>
                            <input type="text" class="form-control" required ng-model="item.firstName">
                            <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">Отчество</label>
                            <input type="text" class="form-control" ng-model="item.patronymicName">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <div class="form-group">
                            <label class="control-label">
                                Дата рождения
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.birthday">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span
                                      class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>


                        <div ng-if="!edit" class="form-group ">
                            <label class="control-label" for="inputSuccess6">Логин</label>
                            <input  class="form-control" ng-model="item.login">
                            <!--<span id="helpBlock5" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="inputSuccess7">Email</label>
                            <!--<input disabled class="form-control" ng-model="item.email">-->
                            <input  class="form-control" ng-model="item.email">
                        </div>

                        <div class="form-group ">
                            <label class="control-label" >Страна</label>
                            <input  class="form-control" ng-model="item.country">
                        </div>
                        <div class="form-group ">
                            <label class="control-label" >Город</label>
                            <input  class="form-control" ng-model="item.city">
                        </div>
                        <div class="form-group ">
                            <label class="control-label" >Адрес</label>
                            <input  class="form-control" ng-model="item.address">
                        </div>

                        <!--  E D I T   D E P A R T M E N T S  C O N T R O L L E R -->

                        <div ng-controller="ListDepartmentController" class="form-group ">
                            <label class="control-label" for="inputSuccess8" ng-bind="items[0].sc()"></label>
                            <span ng-if="!item.departments[0].name">   [ <a href="#"
                                                                            ng-click="addDepartment()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="department in item.departments">
                                <div class="form-group">
                                    <select class="form-control" ng-model="department.id">
                                        <option ng-repeat="option in items| filter:{action:true}" value="{{option.id}}">
                                            {{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removeDepartment(department)">
                                    x
                                </button>
                            </div>
                            <!--<pre id="default-spacing">{{items | json}}</pre>-->
                            <!--<pre>D E P A R T M E N T S : {{items | limitTo:5 | json}}</pre>-->
                        </div>

                        <!--< N E W  P O S I T I O N -->
                        <div ng-controller="ListPositionController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span ng-if="!item.positions.length>0">[ <a href="#" ng-click="addPosition()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="position in item.positions">
                                <div class="form-group">
                                    <select class="form-control" ng-model="position.id">
                                        <option ng-repeat="option in items | filter:{action:true}"
                                                value="{{option.id}}">{{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removePosition(position)">x
                                </button>
                            </div>
                            <!--<pre>P O S I T I O N S : {{items | limitTo:5 | json }}</pre>-->
                        </div>

                        <!--<div ng-controller="ListFurloughController" class="form-group ">-->
                        <!--<label class="control-label" ng-bind="items[0].sc()"></label>-->
                        <!--[ <a href="#" ng-click="addFurlough()">добавить</a> ]-->

                        <!--<div class="form-inline" ng-repeat="furlough in item.furloughs">-->
                        <!--<div class="form-group">-->
                        <!--<select class="form-control" ng-model="furlough.id">-->
                        <!--<option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">{{option.name}}-->
                        <!--</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="sr-only" for="exampleInputPassword33"></label>-->
                        <!--&lt;!&ndash;<input class="form-control" type="text" id="exampleInputPassword33" ng-model="furlough.value" required>&ndash;&gt;-->
                        <!--с-->
                        <!--<input type="text" class="form-control flatpickr" ng-flatpickr-->
                        <!--fp-opts="dateOpts2"-->
                        <!--fp-on-setup="toggleBlur(item)"-->
                        <!--ng-model="furlough.from">-->
                        <!--по-->
                        <!--<input type="text" class="form-control flatpickr" ng-flatpickr-->
                        <!--fp-opts="dateOpts2"-->
                        <!--fp-on-setup="toggleBlur(item)"-->
                        <!--ng-model="furlough.to">-->
                        <!--</div>-->
                        <!--<button type="button" class="btn btn-default" ng-click="removeFurlough(furlough)">x</button>-->
                        <!--</div>-->
                        <!--</div>-->


                        <!--<div class="form-group ">-->
                        <!--<label>Отпуск: </label>-->
                        <!--[ <a href="#" ng-click="addFurlough()">добавить</a> ]-->

                        <!--<div class="form-inline" ng-repeat="furlough in item.fur">-->
                        <!--<div class="form-group">-->
                        <!--<select class="form-control" ng-model="furlough.type">-->
                        <!--<option>Очередной отпуск</option>-->
                        <!--<option>Отпуск по уходу за ребёнком</option>-->
                        <!--<option>Отгул</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="sr-only" for="exampleInputPassword33"></label>-->
                        <!--&lt;!&ndash;<input class="form-control" type="text" id="exampleInputPassword33" ng-model="furlough.value" required>&ndash;&gt;-->
                        <!--с-->
                        <!--<input type="text" class="form-control flatpickr" ng-flatpickr-->
                        <!--fp-opts="dateOpts2"-->
                        <!--fp-on-setup="toggleBlur(item)"-->
                        <!--ng-model="furlough.from">-->
                        <!--по-->
                        <!--<input type="text" class="form-control flatpickr" ng-flatpickr-->
                        <!--fp-opts="dateOpts2"-->
                        <!--fp-on-setup="toggleBlur(item)"-->
                        <!--ng-model="furlough.to">-->
                        <!--</div>-->
                        <!--<button type="button" class="btn btn-default" ng-click="removeFurlough(furlough)">x</button>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group ">-->
                            <!--<label class="control-label" for="inputSuccess10">ПФР</label>-->
                            <!--<input type="text" class="form-control" ng-model="item.pfr">-->
                        <!--</div>-->


                        <div class="form-group ">
                            <label>Телефон:</label>
                            [ <a href="#" ng-click="addContact()">добавить</a> ]

                            <div class="form-inline" ng-repeat="contact in item.contacts">
                                <div class="form-group">
                                    <select class="form-control" ng-model="contact.type">
                                        <option>Мобильный</option>
                                        <option>Телефон</option>
                                        <option>муж/жена</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                                    <input class="form-control" type="text" id="exampleInputPassword3"
                                           ng-model="contact.value">
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removeContact(contact)">x
                                </button>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">
                                Принят в семью
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts3"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.dateInWork">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeDateInWork(item)">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">
                                Отпуск по уходу за ребенком c
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts4"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.decree">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeDecree(item)">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="item.fired">
                                Уволен
                            </label>
                            <label class="control-label" for="inputSuccess15"></label>

                            <!--<span id="helpBlock6" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Дата увольнения
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts3"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.firedDate">
                                <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeFired(item)"><span
                                      class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess25">
                                Комната
                            </label>
                            <input type="text" class="form-control" ng-model="item.room">
                        </div>
                        <div ng-if="(me.admin)" class="row" ng-if="item.id">
                            <div class="col-md-5">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="control-label" for="inputSuccess18">
                                            Зарег. в системе
                                        </label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                            {{item.getCreatedAt() | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group ">
                                    <div class="form-group " ng-if="item.updatedAt">
                                        <label class="control-label" for="inputSuccess18">Последнее обновление</label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                            {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-show="((me.admin ) && !edit)" class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="control-group form-group">
                                    <input data-ng-model="item.password" data-ng-minlength="6"
                                           type="password" name="password"
                                           class="form-control" placeholder="Пароль" tabindex="6">
                                    <!--<span class="help-block has-error" data-ng-if="item.password.$dirty">-->
                                    <!--<span data-ng-show="item.password.$error.required">Поле обязательно к заполнению.</span>-->
                                    <!--<span data-ng-show="item.password.$error.minlength">Пароль должен быть не менее 6 символов.</span>-->
                                    <!--</span>-->
                                </div>
                            </div>

                            <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                            <!--<div class="control-group form-group">-->
                            <!--<input data-ng-model="item.encryptedPassword" required   type="password"-->
                            <!--name="confirmation"-->
                            <!--class="form-control"-->
                            <!--placeholder="Повторить пароль" tabindex="7">-->
                            <!--&lt;!&ndash;<span class="help-block has-error" data-ng-if="item.confirmation.$dirty">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span data-ng-show="item.password.$error.compareTo">Пароли должны совпадать.</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span data-ng-show="item.password.$error.required">Требуется повторить пароль.</span>&ndash;&gt;-->
                            <!--</span>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>


                        <div class="form-group">
                            <!--<div class="form-group" style=" position: fixed;margin-left: 50px; margin-bottom: 70px; bottom:0; left:0;">-->
                            <button ng-show="!edit" type="submit" ng-disabled="userForm.$invalid"
                                    class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-user"></span>
                                Сохранить
                            </button>

                            <button ng-show="edit" type="submit" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                                Сохранить
                            </button>
                            <a ng-if="me.admin" ng-href="{{item.getListUrl()}}" class="btn btn-md btn-warning">
                                <span class="glyphicon glyphicon-list"> </span>
                                Список
                            </a>
                            <!--<button ng-if="!item.id" ng-click="revert()" ng-disabled="!canRevert()" class="btn btn-md btn-primary">-->
                            <!--<span class="glyphicon glyphicon-erase"> </span>-->
                            <!--Очистить-->
                            <!--</button>-->


                            <!--<button ng-if="item.id" ui-sref="home.admin.users.edit(data.id)"-->
                            <!--class="btn btn-default btn-md pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                            <!--</button>-->

                        </div>
                    </form>
                    <button ng-show="me.admin" ng-if="!item.action" ng-click="delete2(item)"
                            class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>

        </div>
        <div ng-class="{'col-md-6':!inlinePanel, 'col-md-12':inlinePanel, 'fx-fade-left':inlinePanel, 'fx-fade-right':!inlinePanel}"
             ng-if="item.id">
            <div ng-switch on="modeSelect.value">
                <div ng-switch-when="uploader">
                    <ng-include src="uploaderView"></ng-include>
                </div>
            </div>

            <div ng-show="me.admin" ng-if="!closeInfo">
                <div class="panel"
                     ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':!inlinePanel, 'fx-fade-left':inlinePanel}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Сменить пароль
                        </h3>
                    </div>
                    <!-- Error state -->
                    <div class="alert alert-info toggle" ng-show="editProfile.changePassword.errorMsg">
                        <h4>Oops!</h4>
                        <code>
                            {{editProfile.changePassword.errorMsg}}
                        </code>
                    </div>
                    <form ng-submit="changeMyPassword()" name="changePassword">
                        <div class="control-group form-group col-md-6"
                             ng-class="{'has-error':changePassword.password.$invalid && changePassword.password.$dirty}">
                            <label>Новый пароль</label>
                            <input type="password" class="form-control" placeholder="не менее 6 знаков" name="password"
                                   ng-model="editProfile.properties.password" id="password" required ng-minlength="6"
                                   compare-to="editProfile.properties.confirmPassword">
                            <span class="help-block has-error" ng-if="changePassword.password.$dirty">
                  <span ng-show="changePassword.password.$error.required">Введите пароль.</span>
                  <span ng-show="changePassword.password.$error.minlength">Пароль должен содержать не менее 6 символов.</span>
                </span>
                        </div>
                        <div class="control-group form-group col-md-6">
                            <label>Повторить пароль</label>
                            <input type="password" class="form-control" placeholder="ещё раз" name="confirmation"
                                   ng-model="editProfile.properties.confirmPassword" required>
                            <span class="help-block has-error" ng-if="changePassword.confirmation.$dirty">
                  <span ng-show="changePassword.password.$error.compareTo">Password must match.</span>
                  <span ng-show="changePassword.confirmation.$error.required">Confirmation password is required.</span>
                </span>
                        </div>
                        <button type="submit" class="btn btn-lg not-border btn-default btn-block"
                                ng-disabled="changePassword.$invalid">
                            <span ng-show="changePasswordForm.saving"
                                  class="overlord-loading-spinner fa fa-spinner"></span>
                            <span ng-show="changePasswordForm.saving">Сохраняю...</span>
                            <span ng-hide="changePasswordForm.saving" class="btn-text">Сохранить</span>
                        </button>
                    </form>
                </div>


                <div class="panel"
                     ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':close, 'fx-fade-left':!close}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Информация

                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr ng-repeat="(key, value) in item">
                                    <th>{{key}}</th>
                                    <td>{{value | date:'dd.MM.yyyy' }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="row">
        <pre ng-if="debug && me.admin"><h3>{{item| json}}</h3></pre>
    </div>
</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

