<div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">
    <div class="page-header">
        <h1>{{items[0].scs()}} {{exampleDate | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}<!--({{filtered.length}})-->
            <a ng-cloak href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                всего:
                <span ng-if="mode">{{(items | filter:{fired:true}).length}}</span>
                <!--<span ng-if="!mode">{{(items | filter:{fired:false}).length}}</span>-->
                <span ng-if="!mode">{{items.length}}</span>
            </a>

            <span ng-if="mode" ng-bind="items[0].deactivation()"></span>
            <div class="btn-group-xs pull-right">

                <button type="checkbox" ng-click="debug = debug ? false : true" title="отладка" class="btn btn-default">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
                <!--<button ui-sref="home.admin.users.list" title="Список" type="button" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</button>-->
                <button ui-sref="home.admin.users.settings" title="Настройки" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                <button type="checkbox" ng-click="getMode(t)" title="Режимы" class="btn btn-danger">
                    <span class="glyphicon glyphicon-off"></span>
                </button>
                <button ui-sref="home.admin.users.create" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </h1>

        <!--<span am-time-ago="message.unixTime | amFromUnix">-->
        <!--<p>{{message.date | amUtc | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</p>-->

        <!--<p>{{message.date | amUtcOffset:'+0300' | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</p>-->
        <!--<span am-time-ago="message.time| amParse:'DD.MM.YYYY HH:mm:ss'"></span>-->
        <!--<p>Локально: {{local}}</p>-->
        <!--<p>Локальное время: {{localTime}}</p>-->
        <!--<p>Сколько прошло?: {{end}}</p>-->
        <!--<p>diff: {{diff}}</p>-->
        <!--<p>days: {{days}}</p>-->
        <!--<p>Год високосный?  {{yearLeap}}</p>-->
        <!--<p>hours: {{hours}}</p>-->
        <!--<p>Month: {{month}}</p>-->
        <!--<p>Months: {{months}}</p>-->
        <!--<p>seconds: {{seconds}}</p>-->
        <!--<p>{{message.date | amUtc | amLocal | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</p>-->
        <!--<p>{{message.date | amTimezone:'Israel' | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</p>-->
        <!--&lt;!&ndash;<p>Message age: {{message.ageInMinutes | amDurationFormat : 'minute' }}</p>&ndash;&gt;-->
        <!--<p>Message age: {{calendar }}</p>-->


        <!--<p>Scheduled {{message.createdAt | amDifference : null : 'days' }} days from now</p>-->
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default>
                                <a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
                        </span>
                </ng-switch>
            </li>
        </ul>
        <!--<ul class="nav">-->
        <!--<li ng-class="{ active: $state.includes('users') }"><a href="#/users">Contacts</a></li>-->
        <!--<li ng-class="{ active: $state.includes('about') }"><a href="/about">About</a></li>-->
        <!--</ul>-->
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#">Home</a></li>-->
        <!--<li><a href="#">Library</a></li>-->
        <!--<li class="active">Data</li>-->
        <!--</ol>-->


        <div ui-view></div>
        <div ui-view="settings"></div>
    </div>
    <!--charText: {{charText}}-->
    <!--searchText: {{searchText}}-->
    <!--LENGTH: {{charText.length}}-{{searchText.length}}-->
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar" role="toolbar" aria-label="0">
                <div class="btn-group btn-group-sm " role="group" aria-label="1">
                    <button ng-repeat="ch in alfavit"
                            ng-click="getCharText(ch)" ng-bind="ch" type="button" class="btn btn-default">
                    </button>
                    <button ng-click="getCharText(0)" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div ng-if="!searchText" ng-repeat="it in arrButton" class="btn-group btn-group-sm"
                     role="group" aria-label="4">
                    <button ng-click="getPage(it.numberPage)" type="button" ng-bind="it.numberPage"
                            class="btn " ng-class="{'btn-danger':enabledButton, 'btn-default':!enabledButton}"></button>
                </div>
            </div>
        </div>
    </div>
    <!--<button type="submit" size="large">Click Me!</button>-->
    <!--{{charText}}  {{where}}-->
    <pagination num-pages="numPages"
                limit-rows="limitRows"
                default-rows="defaultRows"
                length-object="items.length"
                current-page="currentPage"
                on-select-page="selectCount=selectCount+1">
    </pagination>

    <word-part object-name="objectName"
               filed-name="filedName"
               where="where"
               count-char="countChar"
               char-text="charText"
               get-char-text="getCharText(ch)">
    </word-part>
    <!--<pagination num-pages="numPages" limit-rows="limitRows" default-rows="defaultRows" length-object="lengthObject"-->
    <!--<pagination num-pages="numPages" limit-rows="limitRows" default-rows="defaultRows" length-object="lengthObject"-->
    <!--current-page="currentPage" on-select-page="selectCount=selectCount+1"></pagination>-->


    <div class="row">
        <div class="col-md-12">
            <div class="input-group">

                <span ng-if="(searchText.length>0)" class="input-group-addon" id="basic-addon1">
                    {{filtered.length}}
                </span>

                <input type="text" class="form-control" ng-model="searchText" placeholder="Поиск ...">
                     <span class="input-group-btn">
                       <button ng-click="searchText=''" class="btn btn-default" type="button">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                     </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Список сотрудников компании</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>
                                <button class="btn btn-sm btn-default" ng-click="sortBy('lastName')">{{fioArea}}
                                <span class="sortOrder" ng-show="propertyName === 'lastName'"
                                      ng-class="{reverse: reverse}"></span>
                                </button>
                            </th>
                            <th>
                                <button class="btn  btn-sm btn-default" ng-click="sortBy('birthday')">{{drArea}}
                                <span class="sortOrder" ng-show="propertyName === 'birthday'"
                                      ng-class="{reverse: reverse}"></span>
                                </button>

                            </th>
                            <th>
                                <button class="btn  btn-sm btn-default" ng-click="sortBy('login')">{{loginArea}}
                                 <span class="sortOrder" ng-show="propertyName === 'login'"
                                       ng-class="{reverse: reverse}"></span>
                                </button>

                            </th>
                            <th>
                                <button class="btn  btn-sm btn-default" ng-click="sortBy('email')">{{emailArea}}
                                 <span class="sortOrder" ng-show="propertyName === 'email'"
                                       ng-class="{reverse: reverse}"></span>
                                </button>

                            </th>

                            <th>
                                <!--<button class="btn  btn-sm btn-default" ng-click="sortBy('contacts')">Контакты: {{fieldName}}-->
                                <!--<span class="sortOrder" ng-show="propertyName === 'contacts'"-->
                                <!--ng-class="{reverse: reverse}"></span>-->
                                <!--</button>-->
                                <!-- Single button -->
                                <!-- Split button -->
                                <div class="btn-group">
                                    <button class="btn  btn-sm btn-default" ng-click="sortBy('contacts')">
                                    <span class="sortOrder" ng-show="propertyName === 'contacts'"
                                          ng-class="{reverse: reverse}"></span>
                                        Контакты: {{fieldName}}
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Контакты: {{fieldName}}</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="fieldName='Email'">Email</a></li>
                                        <li><a href="#" ng-click="fieldName='Мобильный'">Мобильный</a></li>
                                        <li><a href="#" ng-click="fieldName='Телефон'">Телефон</a></li>
                                        <li><a href="#" ng-click="fieldName='Внутренний телефон'">Внутренний телефон</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </th>
                            <th>
                                <button class="btn  btn-sm btn-default" ng-click="sortBy('email')">Фактически отработанное время
                                 <span class="sortOrder" ng-show="propertyName === 'email'"
                                       ng-class="{reverse: reverse}"></span>
                                </button>

                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        <!--| firstChar:param:charText-->
                        <!--ng-class="$even ? 'default' : 'success'"-->
                        <!--<tr><td ng-repeat="(key,property) in item">{{key}}</td></tr>-->
                        <tr ng-repeat="item in filtered=(items | filter:{$:searchText, fired:mode} |
                        orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)">

                            <td>{{$index+1}}</td>
                            <td ><a href='#'  ng-click="getLastName(item)">{{item.getFullName()}}</a></td>
                            <!--<td ng-if="">{{item.getFullName()}}</td>-->
                            <td>{{item.birthday | date:'dd.MM.yyyy'}}</td>
                            <td>{{item.login}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.getContact(fieldName)}}</td>
                            <td>{{item.diff}}</td>
                            <td class="btn-group-xs">
                                <a ng-href="{{item.getShowUrl(item.id)}}" class="btn"
                                   ng-class="{'btn-primary': !item.fired, ' btn-danger':item.fired}">
                                    <span class="glyphicon "
                                          ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"
                                          aria-hidden="true"></span>
                                </a>
                                <!--<a ui-sref="admin.users.edit({userId:'588b46b6d20dd30c17b27f03'})">Users Edit</a>-->
                                <!--<a ui-sref="admin.users.edit({userId:item.id})" class="btn btn-sm btn-warning">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--</a>-->
                                <a ng-href="{{item.getEditUrl(item.id)}}" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td class="btn-group-xs">
                                <a href="#">
                                    <span ng-if="mode" ng-click="delete(item)" class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="list"></div>
    <div ui-view="attendance"></div>

    <pagination num-pages="numPages" limit-rows="limitRows" default-rows="defaultRows" length-object="items.length"
                current-page="currentPage" on-select-page="selectCount=selectCount+1"></pagination>
    <pre class="pull-right" ng-if="debug"><h2>{{items| json}}</h2></pre>
</div>