<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->
<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>
            <p ng-if="item.name" ng-class="{'fired':item.fired}">{{item.sc()}} : {{item.getFullName()}}
                <span ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
            </p>
            <p ng-if="!item.name">Новый титул</p>
            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </h2>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default>
                    <a ui-sref="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
                    </span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="row"  >
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-warning':item.action, 'panel-default':!item.action}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать</h3>
                </div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="item.action">Активность
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Тип</label>
                        <div class="form-group form-inline">
                            <custom-select class="form-control" name="tip" ng-model="item.tip"
                                           options="optionsSelectTip"></custom-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4" ng-if="ko()">
                                <label class="control-label" for="inputSuccess22">Год</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" ng-model="item.year" name="quantity"
                                           min="2000" max="2100" step="1" >
                                    <span class="input-group-addon" id="basic-addon2"><span
                                            class="glyphicon glyphicon-remove"></span></span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="!ko()">
                                <label class="control-label" for="inputSuccess22">Кратность</label>
                                <div class="input-group">
                                    <input type="number"  min="2" class="form-control" ng-model="item.multiplicity"
                                           aria-describedby="basic-addon3">
                                    <span class="input-group-addon" id="basic-addon3"><span
                                            class="glyphicon glyphicon-remove"></span></span>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="control-label" for="inputSuccess1">Наименование</label>
                                    <input type="text" required class="form-control" ng-model="item.name">
                                </div>
                            </div>
                        </div>


                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Описание</label>
                        <input type="text" class="form-control" ng-model="item.description">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">Описание на английском</label>
                        <input type="text" class="form-control" ng-model="item.descriptionEn">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group ">
                        <div class="form-group " ng-if="item.createdAt">
                            <label class="control-label" for="inputSuccess18">Зарегистрирован в системе</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                {{item.createdAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-group " ng-if="item.updatedAt">
                            <label class="control-label" for="inputSuccess18">Последний раз редактировалось</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <a ng-click="saveEdit(item)" class="btn  btn-success">
                            <span class="glyphicon glyphicon-check"></span>
                            Сохранить
                        </a>
                        <!--<a ng-href="{{item.getListUrl()}}" class="btn  btn-warning">-->
                        <!--<span class="glyphicon glyphicon-list"> </span>-->
                        <!--Список-->
                        <!--</a>-->

                        <a ng-show="me.admin" ng-if="!item.action" ng-click="delete(item)" class="btn  btn-default pull-right">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6" ng-show="me.admin" ng-if="!closeInfo">
        <div class="panel" ng-class="{'panel-success':item.action, 'panel-default':!item.action}">
        <div class="panel-heading">
        <h3 class="panel-title">Информация</h3>
        </div>
        <div class="panel-body">
        <div class="table-responsive">
        <table class="table">
        <tr ng-repeat="(key, value) in item">
        <th>{{key}}</th>
        <td>{{value | date:'dd.MM.yyyy' }}</td>
        </tr>
        </table>
        </div>
        </div>
        </div>
        </div>
    </div>
</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

