<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->
<div class="col-sm-11  col-md-12  main ng-scope">
    <div class="page-header">
        <h1>
            <p ng-class="{'fired':!item.action}">{{item.sc()}} {{item.name}}
                <span ng-if="!item.action" ng-bind="item.deactivation()"></span></p>
            <!--<a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">-->
                <!--сотрудников: </a>-->

            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <a  ng-href="{{item.getListUrl()}}"  type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </h1>
        <!--<ul class="breadcrumb">-->
            <!--<li ng-repeat="breadcrumb in breadcrumbs.getAll()">-->
                <!--<ng-switch on="$last">-->
                    <!--<span ng-switch-when="true">{{breadcrumb.name}}</span>-->
                        <!--<span ng-switch-default>-->
                                <!--<a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a>-->
                        <!--</span>-->
                <!--</ng-switch>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-warning':item.action, 'panel-default':!item.action}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{edit}}</h3>
                </div>

                <div class="panel-body">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"  ng-model="item.action">{{activity}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">{{title}}</label>
                        <input type="text" class="form-control" ng-model="item.name">
                        <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess1">{{chpu}}*</label>
                        <input type="text" class="form-control" ng-model="item.slug">
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group ">-->
                                <!--<label ng-if="!item.year" class="control-label" for="inputSuccess12">-->
                                    <!--Установить год календаря-->
                                <!--</label>-->
                                <!--<label ng-if="item.year" class="control-label" for="inputSuccess4">-->
                                    <!--Редактировать год календаря-->
                                <!--</label>-->
                                <!--<input type="date" min="1991" max="2030" class="form-control" ng-model="item.year">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<div class="form-group " ng-if="item.year">-->
                                <!--<label class="control-label" for="inputSuccess5">Год </label>-->
                                <!--<div><a href="#" class="btn btn-default  disabled" role="button">-->
                                     <!--<span class="glyphicon " ng-class="{ 'glyphicon-gift':item.year}"-->
                                           <!--aria-hidden="true"></span>-->
                                    <!--{{item.year | date:'yyyy'}}-->
                                <!--</a></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--&lt;!&ndash;<label class="control-label" for="inputSuccess1">Год</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="text" class="form-control" ng-model="item.year | date:'yyyy'">&ndash;&gt;-->

                        <!--<label ng-if="!item.year" class="control-label" for="inputSuccess12">-->
                            <!--Год календаря-->
                        <!--</label>-->
                        <!--<label ng-if="item.year" class="control-label" for="inputSuccess4">-->
                            <!--Редактировать год календаря-->
                        <!--</label>-->
                        <!--<input type="date" min="1991" max="2030" class="form-control" ng-model="item.year">-->
                        <!--&lt;!&ndash;<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>&ndash;&gt;-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="control-label" for="inputSuccess2">{{headline}}</label>
                        <textarea class = "form-control" rows = "3" ng-model="item.description"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="inputSuccess3">{{location}} </label>
                        <input type="text" class="form-control" ng-model="item.location">
                        <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>

                    <div class="form-group ">
                        <div class="form-group " ng-if="item.createdAt">
                            <label class="control-label" for="inputSuccess18">Зарегистрирован в системе</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                {{item.createdAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="form-group " ng-if="item.updatedAt">
                            <label class="control-label" for="inputSuccess18">Последний раз редактировалось</label>
                            <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                            </a></div>
                            <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <a ng-click="saveEdit(item)" class="btn  btn-success">
                            <span class="glyphicon glyphicon-check"></span>
                            Сохранить
                        </a>
                        <a  ng-href="{{item.getListUrl()}}"  class="btn  btn-warning">
                            <span class="glyphicon glyphicon-list"> </span>
                            Список
                        </a>
                        <span ng-show="me.admin"></span>
                        <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
                        <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
                        <button ng-click="changeLanguage('ru')" translate="BUTTON_LANG_RU"></button>
                        <!--<a href="/admin/departments/edit/{{data.id}}"-->
                           <!--class="btn btn-default btn-sm pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                        <!--</a>-->
                        <!--<button ng-if="item.id" ng-click="delete(item)" class="btn btn-sm btn-default pull-right" >-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                        <!--</button>-->
                        <a ng-if="!item.action" ng-click="delete(item)" class="btn  btn-default pull-right">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel" ng-class="{'panel-success':item.action, 'panel-default':!item.action}">
                <div class="panel-heading">
                    <h3 class="panel-title">{{info}}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="(key, value) in item">
                                <th>{{key}}</th>
                                <td>{{value | date:'dd.MM.yyyy' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

