<div class="Grid Grid--gutters md-Grid--2col">
    <div class="Grid-cell u-marginBl">
        <!--<h4 class="u-marginVm">Works with (or without) ng-repeat</h4>-->

        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                     onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
            <div id="fixed" when-scrolled="loadMore()">
                <v-pane id="{{ ::pane.id }}" ng-repeat="pane in filtered=(bats | filter:{$:searchText} |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)" expanded="pane.isExpanded">
                    <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content">
                        <div class="row">
                            <div class="col-md-4">{{$index+1}} &nbsp; &nbsp;&nbsp;{{ ::pane.lastName }} {{ ::pane.firstName }} {{
                                ::pane.patronymicName }}
                            </div>
                            <!--<div class="col-md-8 pull-right">Email: <a title="Отправить сообщение" class="text-right" href="mailto:{{::pane.email}}">{{::pane.email}}</a></div>-->
                        </div>
                    </v-pane-header>

                    <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
                        <!--<div class="row">-->
                        <!--<div class="col-md-2 col-md-offset-2">Логин: {{ ::pane.login}}</div>-->
                        <!--<div class="col-md-2">{{::pane.contacts[0].type}}: {{::pane.contacts[0].value}}</div>-->
                        <!--<div class="col-md-2">Email: <a title="Отправить сообщение" href="mailto:{{::pane.email}}">{{::pane.email}}</a>-->
                        <!--</div>-->
                        <!--<div class="col-md-2">Принят: {{::pane.dateInWork|amDateFormat:'DD.MM.YYYY'}}</div>-->
                        <!--<div class="col-md-2">ДР: {{::pane.birthday|amDateFormat:'DD.MM.YYYY'}}</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-md">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-2">Дата</div>
                                    <div class="col-md-2">Приход</div>
                                    <div class="col-md-2">Уход</div>
                                    <div class="col-md-2 pull-right">Отработанное время</div>
                                </div>
                            </div>
                        </div>


                        <v-accordion id="nestedAccordionA" ng-if="pane.skds">
                            <!--{{$index}}-->
                            <!--<ul class="position">-->
                            <!--<li ng-repeat="y in pane.skds">-->
                            <!--{{y.date}}-->
                            <!--</li>-->
                            <!--</ul>-->
                            <div id="fixed2" when-scrolled="loadMore2()">
                                <v-pane id="{{ ::pane.skds.id }}" ng-repeat="subpane in hums|orderBy:propertyName2:reverse">
                                    <v-pane-header id="{{ ::subpane.skds.date }}-header" aria-controls="{{ ::subpane.skds.date}}-header">
                                        <div class="row">
                                            <div class="col-md-9 col-md-offset-2">
                                                <div class="row">
                                                    <div class="col-md-2">{{ ::subpane.skds.date |amDateFormat:'DD.MM.YYYY'}}</div>
                                                    <div class="col-md-2">{{::subpane.skds.startPeriod}}</div>
                                                    <div class="col-md-2">{{::subpane.skds.endPeriod}}</div>
                                                    <div class="col-md-2 pull-right">{{::subpane.skds.name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </v-pane-header>
                                    <v-pane-content id="{{ ::subpane.skds.id }}-content" aria-labelledby="{{ ::subpane.skds.id }}-content">
                                        <!--<div class="row">-->
                                        <!--&lt;!&ndash;<div class="col-md-2">{{ ::skds.date|amDateFormat:'DD.MM.YYYY'}}</div>&ndash;&gt;-->
                                        <!--<div class="col-md-2">{{::subpane.skds.startPeriod}}</div>-->
                                        <!--<div class="col-md-2">{{::subpane.skds.endPeriod}}</div>-->
                                        <!--</div>-->
                                    </v-pane-content>
                                </v-pane>
                            </div>


                        </v-accordion>
                    </v-pane-content>
                </v-pane>
            </div>
        </v-accordion>


        <!--<div class="ButtonGroup ButtonGroup&#45;&#45;hz ButtonGroup&#45;&#45;collapse u-marginVm">-->
        <!--<div class="ButtonGroup-item">-->
        <!--<button class="Button Button&#45;&#45;default" ng-click="accordionA.toggle(panesA[0].id)">Toogle first</button>-->
        <!--</div>-->
        <!--<div class="ButtonGroup-item">-->
        <!--<button class="Button Button&#45;&#45;default" ng-click="accordionA.toggle(panesA[2].id)">Toogle last</button>-->
        <!--</div>-->
        <!--</div>-->

    </div>

    <!--<div class="Grid-cell u-marginBl">-->
    <!--<h4 class="u-marginVm">Allows multiple sections open at once</h4>-->

    <!--<v-accordion id="accordionB" class="vAccordion&#45;&#45;default" multiple control="accordionB">-->

    <!--<v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesB" expanded="pane.isExpanded">-->
    <!--<v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-header">-->
    <!--<h5>{{ ::pane.header }}</h5>-->
    <!--</v-pane-header>-->

    <!--<v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-content">-->
    <!--<p>{{ ::pane.content }}</p>-->

    <!--<v-accordion id="nestedAccordionB" multiple ng-if="pane.subpanes">-->
    <!--<v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">-->
    <!--<v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">-->
    <!--<h5>{{ ::subpane.header }}</h5>-->
    <!--</v-pane-header>-->
    <!--<v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">-->
    <!--<p>{{ ::subpane.content }}</p>-->
    <!--</v-pane-content>-->
    <!--</v-pane>-->
    <!--</v-accordion>-->
    <!--</v-pane-content>-->
    <!--</v-pane>-->

    <!--</v-accordion>-->


    <!--<div class="ButtonGroup ButtonGroup&#45;&#45;hz ButtonGroup&#45;&#45;collapse u-marginVm">-->
    <!--<div class="ButtonGroup-item">-->
    <!--<button class="Button Button&#45;&#45;default" ng-click="accordionB.expandAll()">Expand all</button>-->
    <!--</div>-->
    <!--<div class="ButtonGroup-item">-->
    <!--<button class="Button Button&#45;&#45;default" ng-click="accordionB.collapseAll()">Collapse all</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
