<pagination2
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        on-select-page="selectCount=selectCount+1">
</pagination2>

<!--!!! НЕ УДАЛЯТЬ-->
<!--<div class="row btn-sm">-->
    <!--&lt;!&ndash;{{mx|date:"dd.MM.yyyy"}}&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<input type="date" ng-model="mx"    class="form-control btn"></li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="date" ng-model="mx"  ng-click="toggleBlur(mx)" ng-blur="toggleBlur(mx)" aria-describedby="sizing-addon1" class="form-control ">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-success btn-xs" ng-click="currentReport()">Последний отчёт</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-1">&ndash;&gt;-->
    <!--&lt;!&ndash;<select class="btn form-control" name="mySelect" id="mySelect"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-options="option.year for option in data.data track by option._id"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-model="data.selectedOption"></select>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->


<div id="avatar" class="row small sort-my">
    <div class="col-md-13">&nbsp;</div>

    <div class="col-md-3 ">
        #
        <button class="btn  btn-sm btn-default sdv not-border" ng-click="sortBy('_id.name')">{{fioArea}}
        <span class="sortOrder" ng-show="propertyName === '_id.name'"
              ng-class="{reverse: reverse}"></span>
        </button>
        <!--<button class="btn btn-sm sdv btn-default  not-border" ng-click="sortRevers('name')">{{fioArea}}-->
        <!--<span class="sortOrder" ng-show="sortField === 'name'" ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->
    </div>
    <!--<div class="col-md-3 "><span class="srt sdv" ng-click="sortRevers('name')">ФИО</span></div>-->
    <div class="col-md-2">

        <div class="input-group input-group-sm">
            <input type="date" ng-model="mx" ng-click="toggleBlur(mx)" ng-blur="toggleBlur(mx)" class="form-control"
                   aria-describedby="sizing-addon3">
            <span class="input-group-btn">
                <button class="btn  btn-xs btn-default" type="button" ng-click="sortBy('date')">
                        <span class="sortOrder"  ng-class="{reverse: reverse}"></span>
                </button>
             </span>

        </div><!-- /input-group -->


    </div>
    <!--<div class="col-md-2"><span class="srt" ng-click="sortRevers('date')">Дата</span></div>-->
    <div class="col-md-2">
        <button class="btn  btn-sm btn-default disabled  not-border" ng-click="sortBy('date')">{{startPeriodArea}}</button>
    </div>
    <div class="col-md-2">
        <button class="btn  btn-sm btn-default disabled  not-border" ng-click="sortBy('date')">{{endPeriodArea}}</button>
    </div>
    <div class="col-md-3 pull-right">
        <button class="btn  btn-sm btn-default disabled  not-border" ng-click="sortBy('date')">{{factArea}}</button>

    </div>
    <div class="col-md-13">&nbsp;</div>
</div>

<div class="Grid Grid--gutters md-Grid--2col">
    <div class="Grid-cell u-marginBl">
        <!--<h4 class="u-marginVm">Works with (or without) ng-repeat</h4>-->

        <v-accordion id="accordionA" class="vAccordion--default" control="accordionA"
                     onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
            <div id="fixed" when-scrolled="loadMore()">
                <v-pane id="{{ ::item._id }}" ng-repeat="item in filtered=(items | filter:{$:searchText} |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)" expanded="item.isExpanded">
                    <v-pane-header id="{{ ::item._id }}-header" aria-controls="{{ ::item._id }}-content">
                        <div class="row ">
                            <div class="col-md-3" ng-mouseover="vis=1"  ng-mouseleave="vis=0">
                                {{$index+1}} &nbsp; &nbsp;&nbsp;{{ ::item.getFullName() }}

                                <span ng-if="vis" class="text-right">

                                    <div class="btn-group-xs pull-right ">
                                        <!--<a ng-href="/admin/users" class="btn btn-default not-border" href="/admin/users">-->
                                            <!--<span class="glyphicon glyphicon-list"></span>-->
                                        <!--</a>-->
                                        <a class="btn not-border  btn-default" href="/admin/users/edit/{{::item.getOwner()}}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    </div>

                          </span>
                            </div>
                            <div class="col-md-2 ">{{ ::item.formDate() }} {{::item.formDayOfWeek()}}</div>
                            <div class="col-md-2 "><span class="sdvig">{{ ::item.formMinStart() }}</span></div>
                            <div class="col-md-2 "><span class="sdvig">{{::item.formMaxEnd()}}</span></div>
                            <div class="col-md-3 "><span class="sdvig">{{ item.formWorkTime() }}</span></div>
                            <!--<div class="col-md-8 pull-right">Email: <a title="Отправить сообщение" class="text-right" href="mailto:{{::pane.email}}">{{::pane.email}}</a></div>-->
                        </div>
                    </v-pane-header>

                    <v-pane-content id="{{ ::item.periods }}-content" aria-labelledby="{{ ::item.periods }}-header">
                        <div class="row small">
                            <div class="col-md-2 col-md-offset-3">Дата</div>
                            <div class="col-md-2">Приход</div>
                            <div class="col-md-2">Уход</div>
                            <div class="col-md-3 pull-right">Отработанное время</div>
                            <div class="col-md-13">&nbsp;</div>
                        </div>
                        <div class="row bg-success" ng-repeat="content in item.periods |orderBy:propertyName2:reverse">
                            <div class="col-md-13">&nbsp;</div>
                            <div class="col-md-3"> &nbsp; </div>
                            <div class="col-md-2">{{ ::item.formDate() }}</div>
                            <div class="col-md-2"> {{item.getPeriodTime(content.start)}}</div>
                            <div class="col-md-2">{{item.getPeriodTime(content.end)}}</div>
                            <div class="col-md-3"> {{item.getPeriodTime(content.workTimePeriod)}}</div>
                            <div class="col-md-13">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-md-13">&nbsp;</div>
                        </div>

                        <!--<v-accordion id="nestedAccordionA" ng-if="item.periods">-->
                        <!--<div id="fixed2" when-scrolled="loadMore2()">-->
                        <!--<v-pane id="{{ ::item.skds.id }}" ng-repeat="subpane in item.periods |orderBy:propertyName2:reverse">-->
                        <!--<v-pane-header id="{{ ::subpane.skds.date }}-header" aria-controls="{{ ::subpane.skds.date}}-header">-->

                        <!--<div class="row">-->
                        <!--<div class="col-md-13">&nbsp;</div>-->
                        <!--<div class="col-md-2 col-md-offset-3"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Дата</h4></div>-->
                        <!--<div class="col-md-2"><h4>&nbsp;Приход</h4></div>-->
                        <!--<div class="col-md-2"><h4>&nbsp;Уход</h4></div>-->
                        <!--<div class="col-md-3 pull-right"><h4>Отработанное время</h4></div>-->
                        <!--</div>-->


                        <!--</v-pane-header>-->
                        <!--<v-pane-content id="{{ ::subpane.item.periods }}-content" aria-labelledby="{{ ::subpane.item.periods }}-content">-->
                        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="col-md-2">{{ ::skds.date|amDateFormat:'DD.MM.YYYY'}}</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-md-2">{{::subpane.skds.startPeriod}}</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-md-2">{{::subpane.skds.endPeriod}}</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--<div class="col-md-3"> &nbsp; </div>-->
                        <!--<div class="col-md-2">{{ ::item.formDate() }}</div>-->
                        <!--<div class="col-md-2"> {{item.getPeriodTime(p.start)}}  </div>-->
                        <!--<div class="col-md-2">{{item.getPeriodTime(p.end)}}</div>-->
                        <!--<div class="col-md-3"> {{item.getPeriodTime(p.workTimePeriod)}}</div>-->
                        <!--</v-pane-content>-->
                        <!--</v-pane>-->
                        <!--</div>-->


                        <!--</v-accordion>-->
                    </v-pane-content>
                </v-pane>
            </div>
        </v-accordion>


        <!--<div class="ButtonGroup ButtonGroup&#45;&#45;hz ButtonGroup&#45;&#45;collapse u-marginVm">-->
        <!--<div class="ButtonGroup-item">-->
        <!--<button class="Button Button&#45;&#45;default" ng-click="accordionA.toggle(panesA[0].id)">Toogle first</button>-->
        <!--</div>-->
        <!--<div class="ButtonGroup-item">-->
        <!--<button class="Button Button&#45;&#45;default" ng-click="accordionA.toggle(panesA[2].id)">Toogle last</button>-->
        <!--</div>-->
        <!--</div>-->

    </div>

    <!--<div class="Grid-cell u-marginBl">-->
    <!--<h4 class="u-marginVm">Allows multiple sections open at once</h4>-->

    <!--<v-accordion id="accordionB" class="vAccordion&#45;&#45;default" multiple control="accordionB">-->

    <!--<v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesB" expanded="pane.isExpanded">-->
    <!--<v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-header">-->
    <!--<h5>{{ ::pane.header }}</h5>-->
    <!--</v-pane-header>-->

    <!--<v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-content">-->
    <!--<p>{{ ::pane.content }}</p>-->

    <!--<v-accordion id="nestedAccordionB" multiple ng-if="pane.subpanes">-->
    <!--<v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">-->
    <!--<v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">-->
    <!--<h5>{{ ::subpane.header }}</h5>-->
    <!--</v-pane-header>-->
    <!--<v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">-->
    <!--<p>{{ ::subpane.content }}</p>-->
    <!--</v-pane-content>-->
    <!--</v-pane>-->
    <!--</v-accordion>-->
    <!--</v-pane-content>-->
    <!--</v-pane>-->

    <!--</v-accordion>-->


    <!--<div class="ButtonGroup ButtonGroup&#45;&#45;hz ButtonGroup&#45;&#45;collapse u-marginVm">-->
    <!--<div class="ButtonGroup-item">-->
    <!--<button class="Button Button&#45;&#45;default" ng-click="accordionB.expandAll()">Expand all</button>-->
    <!--</div>-->
    <!--<div class="ButtonGroup-item">-->
    <!--<button class="Button Button&#45;&#45;default" ng-click="accordionB.collapseAll()">Collapse all</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<!--<a href="#toTop" class="button">↑</a>-->
<a href="#toTop2" class="button2">↑</a>
<pagination2
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        on-select-page="selectCount=selectCount+1">
</pagination2>



<script>




        var avatarElem = document.getElementById('avatar');
        var searchElem = document.getElementById('search');

        var avatarSourceBottom = avatarElem.getBoundingClientRect().bottom + (window.pageYOffset-80);
        var searchSourceBottom = searchElem.getBoundingClientRect().bottom + (window.pageYOffset-100);

        window.onscroll = function() {
            if (searchElem.classList.contains('fixed') && window.pageYOffset < searchSourceBottom) {
                searchElem.classList.remove('fixed');
            } else if (window.pageYOffset > searchSourceBottom) {
                searchElem.classList.add('fixed');
            }
            if (avatarElem.classList.contains('fixed') && window.pageYOffset < avatarSourceBottom) {
                avatarElem.classList.remove('fixed');
            } else if (window.pageYOffset > avatarSourceBottom) {
                avatarElem.classList.add('fixed');
            }
        };

        (function($scrollButton, $win){
            $(document).scroll(function(){
                $scrollButton.toggleClass("visible2", $win.scrollTop() > 300);
            });
            $scrollButton.click(function(e){
                e.preventDefault();
                $("body, html").animate({scrollTop : 0}, 500);
            });
        })( $(".button2"), $(window) );
        (function($scrollButton, $win){
            $(document).scroll(function(){
                $scrollButton.toggleClass("visible", $win.scrollTop() > 300);
            });
            $scrollButton.click(function(e){
                e.preventDefault();
                $("body, html").animate({scrollTop : 0}, 500);
            });
        })( $(".button"), $(window) );


</script>