<div ng-controller="ProfileController" ng-cloak ng-hide="loading">
    <div class="col-md-2 col-md-offset-2">
        <div class="row placeholders">
            <div class="placeholder">
                <img class="gravatarImage" class="img-responsive" height="200" width="200" ng-src={{me.gravatarUrl}}/>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="page-header">
            <h1>{{me.fullName}}</h1>
            <h3>
                <a href="mailto:{{me.email}}">{{me.email}}</a>
            </h3>
            <div class="row">
                <div class=" col-md-12">
                    <table class="table">
                        <tr>
                            <th>ДР</th>
                            <td>{{me.birthday | date:'dd.MM.yyyy'}}</td>
                        </tr>
                        <tr>
                            <th>Логин</th>
                            <td>{{me.login}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{me.email}}</td>
                        </tr>
                        <tr>
                            <th>Должность</th>
                            <td>{{me.positions[0].name}}</td>
                        </tr>
                        <tr>
                            <th>Отдел</th>
                            <td>{{me.departments[0].name}}</td>
                        </tr>
                        <tr ng-if="!me.firedDate">
                            <th>Работает с</th>
                            <td>{{me.dateInWork | date: "dd.MM.yyyy"}} {{message}}</td>
                        </tr>
                        <tr ng-if="me.firedDate">
                            <th>Работал</th>
                            <td>{{me.dateInWork | date: "dd.MM.yyyy"}} - {{me.firedDate | date: "dd.MM.yyyy"}}</td>
                        </tr>
                        <tr ng-if="me.firedDate">
                            <th>Уволен с</th>
                            <td>{{me.firedDate | date: "dd.MM.yyyy"}}</td>
                        </tr>
                        <tr>
                            <th colspan="20"></th>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <a href="/profile/edit" class="btn btn-sm btn-primary">Edit</a>
                <a ng-show="(me.admin)" ng-click="removeProfile()" class="btn btn-sm btn-primary btn-danger">Delete</a>
                <!--<a ng-show="me.admin" ng-click="removeProfile()" class="btn btn-sm btn-primary btn-danger">Delete</a>-->
            </div>
        </div>
    </div>
</div>