<!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 CalendarAttendanceController ng-scope">-->
<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h1>{{items[0].sc()}} {{items[0].name}}{{statName}}
            <div class="btn-group-xs pull-right">
                <a ng-href="{{items[0].getListUrl()}}" class="btn btn-sm btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
                <!--<a ng-href="{{item.getEditUrl(item.id)}}" class="btn btn-sm btn-warning">-->
                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                <!--</a>-->
            </div>
        </h1>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default>
                                <a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
                        </span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <!--<button ng-click="find()">Send</button>-->
    {{data[0].lastName}}
    <div ui-view></div>

    <!--<div attendance-list="items" template="table">-->
        <!--<ul ng-repeat="item in data">-->
            <!--<li>{{$index}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<button ng-click="send()">Send</button>-->


</div>

