<!--<div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->
<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>{{items[0].scs()}} Отработанное время {{exampleDate | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}<!--({{filtered.length}})-->
            <a ng-cloak href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                {{allRowsView}}
                <span>{{items.length}}</span>
                <!--<span ng-if="!mode">{{(items | filter:{fired:false}).length}}</span>-->
                <!--<span ng-if="!mode">{{items.length}}</span>-->
            </a>
            <span ng-if="mode" ng-bind="items[0].deactivation()"></span>
            <div class="btn-group-xs pull-right">
                <!--<button type="checkbox" ng-click="debug = debug ? false : true" title="отладка" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-wrench"></span>-->
                <!--</button>-->
                <!--<button ui-sref="home.admin.users.list" title="Список" type="button" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</button>-->
                <!--<button ui-sref="home.admin.users.settings" title="Настройки" type="button" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</button>-->
                <!--<button type="checkbox" ng-click="getMode(t)" title="Режимы" class="btn btn-danger">-->
                <!--<span class="glyphicon glyphicon-off"></span>-->
                <!--</button>-->
                <!--<button ui-sref="home.admin.users.create" type="button" class="btn btn-warning">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
                <!--</button>-->
            </div>
        </h2>
        <div ui-view></div>
        <div ui-view="settings"></div>
    </div>
    <!--charText: {{charText}}-->
    <!--searchText: {{searchText}}-->
    <!--LENGTH: {{charText.length}}-{{searchText.length}}-->
    <div class="row">
        <div class="col-md-9">
            <div class="btn-toolbar" role="toolbar" aria-label="0">
                <!--<div class="btn-group btn-group-sm " role="group" aria-label="1">-->
                <!--<button ng-repeat="ch in alfavit"-->
                <!--ng-click="getCharText(ch)" ng-bind="ch" type="button" class="btn btn-default">-->
                <!--</button>-->
                <!--<button ng-click="getCharText(0)" class="btn btn-default" type="button">-->
                <!--<span class="glyphicon glyphicon-remove"></span>-->
                <!--</button>-->
                <!--</div>-->
                <!--
                                        get-char-text="getCharText(ch)"-->
                <alfavit
                        object-name="objectName"
                        get-char-text="getCharText(ch)"
                        filed-name="filedName"
                        where="where"
                        char-text="charText"
                        count-char="countChar">
                </alfavit>
                <word-part object-name="objectName"
                           filed-name="filedName"
                           where="where"
                           count-char="countChar"
                           char-text="charText"
                           get-char-text="getCharText(ch)">
                </word-part>

                <div ng-if="!searchText" ng-repeat="it in arrButton" class="btn-group btn-group-sm"
                     role="group" aria-label="4">
                    <button ng-click="getPage(it.numberPage)" type="button" ng-bind="it.numberPage"
                            class="btn " ng-class="{'btn-danger':enabledButton, 'btn-default':!enabledButton}"></button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <select class="form-control" role="group"
                    ng-model="modeSelect" ng-options="item.display for item in options track by item.value"></select>
            <!--<div ng-switch on="modeSelect.value" style="margin-top:20px;">-->
            <!--<table class="table" ng-switch-when="table">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>Name</th>-->
            <!--<th>Value</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tr ng-repeat="item in items">-->
            <!--<td>{{item.getFullName()}}</td>-->
            <!--<td>{{item.login}}</td>-->
            <!--</tr>-->
            <!--</table>-->
            <!--<div class="list-group" ng-switch-when="list">-->
            <!--<a href="#" class="list-group-item active">-->
            <!--Список-->
            <!--</a>-->
            <!--<a href="#" ng-repeat="item in items" class="list-group-item">-->
            <!--{{item.getFullName()}}:{{item.login}}-->
            <!--</a>-->
            <!--</div>-->
            <!--<ul class="list-group" ng-switch-when="budges">-->
            <!--<li ng-repeat="item in items" class="list-group-item">-->
            <!--<span class="badge">{{item.login}}</span>-->
            <!--{{item.getFullName()}}-->
            <!--</li>-->
            <!--</ul>-->


            <!--</div>-->

        </div>
    </div>
    <!--<button type="submit" size="large">Click Me!</button>-->
    <!--{{charText}}  {{where}}-->

    <!--<pagination num-pages="numPages"-->
    <!--limit-rows="limitRows"-->
    <!--default-rows="defaultRows"-->
    <!--length-object="items.length"-->
    <!--current-page="currentPage"-->
    <!--on-select-page="selectCount=selectCount+1">-->
    <!--</pagination>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--&lt;!&ndash;<v-accordion class="vAccordion&#45;&#45;default">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-pane ng-repeat="pane in items" expanded="pane.isExpanded">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-pane-header>&ndash;&gt;-->
            <!--&lt;!&ndash;{{ ::pane.name }}&ndash;&gt;-->
            <!--&lt;!&ndash;</v-pane-header>&ndash;&gt;-->

            <!--&lt;!&ndash;<v-pane-content>&ndash;&gt;-->
            <!--&lt;!&ndash;{{ ::pane.content }}&ndash;&gt;-->

            <!--&lt;!&ndash;&lt;!&ndash; accordions can be nested :) &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<v-accordion ng-if="pane.subpanes">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-pane ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-pane-header>&ndash;&gt;-->
            <!--&lt;!&ndash;{{ ::subpane.header }}&ndash;&gt;-->
            <!--&lt;!&ndash;</v-pane-header>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-pane-content>&ndash;&gt;-->
            <!--&lt;!&ndash;{{ ::subpane.content }}&ndash;&gt;-->
            <!--&lt;!&ndash;</v-pane-content>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-pane>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-accordion>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-pane-content>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-pane>&ndash;&gt;-->

            <!--&lt;!&ndash;</v-accordion>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->




    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="search" class="input-group ">

                <!--<span ng-if="(searchText.length>0)" class="input-group-addon" id="basic-addon1">-->
                <!--{{filtered.length}}-->
                <!--</span>-->

                <input type="text" class="form-control" ng-model="searchText" placeholder="Поиск ...">
                     <span class="input-group-btn">
                       <button ng-click="searchText=''" class="btn btn-default" type="button">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                     </span>
            </div>
        </div>
    </div>

    <!--<div class="row" ng-cloak>-->
    <!--<div class="col-md-12">-->
    <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">-->


    <!--</div>-->
    <!--<div class="panel-body">-->
    <div ng-switch on="modeSelect.value" style="margin-top:20px;">
        <div ng-switch-when="list">
            <ng-include src="listView"></ng-include>
        </div>
        <div ng-switch-when="table">
            <ng-include src="tableView"></ng-include>
        </div>
        <div ng-switch-when="action">
            <ng-include src="actionView"></ng-include>
        </div>
        <div ng-switch-when="work">
            <ng-include src="workView"></ng-include>
        </div>
        <div ng-switch-when="accordion">
            <ng-include src="accordionView"></ng-include>
        </div>
        <div ng-switch-when="test">
            <ng-include src="testView"></ng-include>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div ui-view="list"></div>
<div ui-view="attendance"></div>

<pre class="pull-right" ng-if="debug"><h2>{{items| json}}</h2></pre>
</div>