@primary: #5c7457;

@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 79.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 79.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@brand-primary: white; // #337ab7
//@brand-primary: #337ab7; // #337ab7
@brand-primary-border: #cccccc; // #2e6da4
//@brand-primary-border: #2e6da4; // #2e6da4
@link-color: @brand-primary;
@link-hover-color: #e6e6e6;
//@link-hover-color: #286090;
@link-hover-border-color: #cccccc;
@nav-link-color: hsl(138, 64%, 90%);
@nav-li-bg: hsla(110, 12%, 59%, 0.45);
.fired {
  //color: @gray-lighter;
  color: @gray-light;
}

a:hover, a:link {
  text-decoration: none;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  //content: "\007C";
  padding: 0 5px;
  color: #ccc;
}

.tag {
  //color: navy; /* Цвет текста */
  //font-family: monospace; /* Моношириный шрифт */
  //quotes: "<" ">"; /* Устанавливаем вид кавычек */
  text-decoration: underline;
  font-weight: 600;
}

html {
  background-image: none;
  /*background: url(images/bg.jpg) no-repeat center center fixed;*/
  //background-color: rgba(216, 228, 213, 0.5);
}

.sortOrder:after {
  content: '\25b2'; // BLACK UP-POINTING TRIANGLE
}

.sortOrder.reverse:after {
  content: '\25bc'; // BLACK DOWN-POINTING TRIANGLE
}

.animate-switch-container {
  position: relative;
  background: @gray-lighter;
  border: 1px solid @gray-light;
  height: 140px;
  overflow-y: auto;
}

.animate-switch {
  padding: 10px;
}

.animate-switch.ng-animate {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top: -50px;
}

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top: 0;
}

ul.word {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}

ul.word li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  //border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px; /* Поля вокруг текста */
}

.btn.not-border {
  border: none;
  background-image: none;
}

.gravatarSm {
  line-height: 3.0;
}

.avatarImage {
  width: 100%;
  margin: auto;
  display: block;
}

.gravatarImage {
  width: 200px;
  margin: 20px auto 0 auto;
  display: block;
}

.brighten img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten img:hover {
  -webkit-filter: sepia(100%);
}

.jumbotron.white {
  background: white;
}

.str {
  text-decoration: none; /* Убираем подчеркивание */
  /* Добавляем свою линию */
}

.sdv {
  margin-left: 26px;
}

.sdvig {
  margin-left: 10px;
}

.sort-my {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;

  background: white;
}

.sort-my .srt:hover {
  cursor: pointer;
  color: #2196F3;
  border-bottom: 1px dashed #2196F3;
}

//#avatar {
//  float: left;
//  margin: 0 1em .5em 0;
//  border: 1px solid black;
//  text-align: center;
//  background: white;
//}
#avatar {
  background: white;
}

#avatar.fixed {
  position: fixed;
  top: 84px;
  left: 40px;
  right: 40px;
  background: #EFF0F1;
  z-index: 2;
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
}

#avatar.fixed-thead {
  position: absolute;
  top: 52px;
  background: #EFF0F1;
  z-index: 2;
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  width: inherit;
}

#avatar.fixed-thead th,
.table.m-left tr th {
  min-width: 120px;
  width: 100%;
}

#avatar td,
#avatar.fixed-thead td,
.table.m-left tr td:nth-child(1),
#avatar.fixed-thead td:nth-child(1),
.table.m-left > tbody > tr td {
  width: 48px;
  min-width: 48px;

}

#table-run.fixed {
  position: fixed;
  top: 100px;
  right: 20px;
  background: #ffffff;
  z-index: 2;
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  //min-height: 100%;       /* Just for the demo          */
  //overflow-y: auto;    /* Trigger vertical scroll    */
  //overflow-x: hidden;  /* Hide the horizontal scroll */
}

//#table-run.fixed>.table>table>thead{ display:  inline-block; }
#table-run.fixed > .table > table > tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
  display: table-caption;
}

.table.m-left {
  //margin-left: -15px;
  font-size: 12px;
  position: relative;
  left: -15px;
}

#search.fixed {
  position: fixed;
  top: 50px;
  left: 40px;
  right: 40px;
  background: #EFF0F1;
  z-index: 2;

}

#search.fixed > .form-control {
  border: none;
  border: 0;
}

.button {
  text-decoration: none;
  opacity: 0;
  position: fixed;
  color: white;
  font-size: 20px;
  visibility: hidden;
  text-align: center;
  transition: all 0.5s;
  background: hsl(210, 7%, 94%);
  border-radius: 70px;
  display: inline-block;
  right: 50px;
  bottom: 30px;
  width: 30px;
  height: 50px;
  z-index: 10000000000;
}

.button2 {
  text-decoration: none;
  opacity: 0;
  position: fixed;
  color: hsla(210, 7%, 74%, .5);
  font-size: 20px;
  visibility: hidden;
  text-align: center;
  transition: all 0.5s;
  background: hsla(210, 7%, 74%, .5);
  border-radius: 70px;
  display: inline-block;
  right: 77px;
  top: 100px;
  width: 30px;
  height: 30px;
  z-index: 10000000000;
}

.button:hover {
  text-decoration: none;
  color: white;
  background: #c1c1c1;
  z-index: 10000000000;
}

.button2:hover {
  text-decoration: none;
  color: hsla(210, 7%, 74%, 1);
  background: #fff;
  z-index: 10000000000;
  -webkit-box-shadow: -5px -5px 163px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px -5px 163px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -5px -5px 163px -1px rgba(0, 0, 0, 0.2);
}

a.button2 {
  text-decoration: none;
}

.visible {
  visibility: visible;
  text-decoration: none;
  opacity: 1;
  background: hsla(210, 7%, 74%, .5);
}

.visible2 {
  visibility: visible;
  text-decoration: none;
  opacity: 1;
  background: #ffffff;
}

#container {
  font-size: 1.1em;
}

/* BuTTON FILE */

.file-upload input[type="file"] {
  display: none; /* скрываем input file */
}

/* задаем стили кнопки выбора файла*/
.file-upload {
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  //max-width: 40px;
  height: 40px;
  //color: #fff;
  text-align: center;
}

.file-upload span:hover {
  background: hsl(0, 0%, 96%);
  //border: 1px solid  @link-hover-border-color;
}

/* Растягиваем label на всю область блока .file-upload */
.file-upload label {
  display: block;
  //position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  cursor: pointer;
  font-weight: lighter;
}

/* стиль текста на кнопке*/
.file-upload span {
  padding: 5px 12px;
  //border-radius: 4px;
  display: block;
  background: @brand-primary;
  //border: 1px solid  @brand-primary-border;

}

table.table.not-margin {
  margin: 0;
}

/* BuTTON FILE  END */

.delete-button {
  position: relative;
}

.delete-button > .delete-img {
  position: absolute;
  top: 35%;
  right: 30%;
  opacity: .4;
}

.photo {
  width: 20px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fff;
}

.wdt {
  width: 270px
}

//table > thead#avatar.fixed-thead > tr > th:nth-child(1),table > thead#avatar > tr > th:nth-child(1){
//  border-right: 0;
//}
//table > thead#avatar.fixed-thead > tr > th:nth-child(2),table > thead#avatar > tr > th:nth-child(2){
//  border-left: 0;
//}
.red-color {
  color: red;
}

.event {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 1.5px);
  content: " ";
  display: block;
  background: #3d8eb9;
}

.event.busy {
  background: #f64747;
}

.page-header {
  margin-top: 190px;
  padding-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  padding: 35px 0;
}

/************************ DIALOGs WINDOW ***************************************/

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}

.dialogdemoBasicUsage button {
  width: 200px;
}

.dialogdemoBasicUsage div#status {
  color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0;
}

//.md-toolbar-tools{
//  background: rgb(170, 194, 148);
//}
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: @nav-li-bg;
  color: @nav-link-color;
}

.nav > li > a {
  color: @nav-link-color;
}

img.object-fit_cover {
  height: 50px;
  background-color: #ddd;
  border-radius: 50%
}

img.object-fit_cover {
  width: 50px;
  border-radius: 50%
}

.object-fit_fill {
  object-fit: fill
}

.object-fit_contain {
  object-fit: contain
}

.object-fit_cover {
  object-fit: cover
}

.object-fit_none {
  object-fit: none
}

.object-fit_scale-down {
  object-fit: scale-down
}

.table tbody tr > td {
  vertical-align: middle;
}

#slider {
  position: relative;
}

#slider img.slid {
  width: 100%;
  display: block;
}

.position {
  list-style-type: none;
  margin-left: 7px;
  padding: 0
}

.clearfix {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.fixset {
  margin: 50px 0;
}

.text-center .foot2 {
  margin-bottom: 20px;
  font-size: 1.9em;
}

.animate-if {
  background: white;
  border: 1px solid black;
  padding: 10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}

#toast-container > div {
  padding: 0;
  border: 0;
}

//.toast-top-full-width{
//  top:138px;
//}

//#toast-container > .toast {
//  background-image: none !important;
//}

.toast-pink {
  //background-image: url('/images/design/four_page_01.jpg') !important;
  background-color: #fa39c3;

}

.drops {
  display: block;
  height: 270px;
  overflow: hidden;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-danger {
  border-left-color: #ce4844;
}

.bs-callout-danger h4 {
  color: #ce4844;
}

.bs-callout-info {
  border-left-color: #1b809e;
}

.bs-callout-info h4 {
  color: #1b809e;
}

.bs-callout-warning {
  border-left-color: #aa6708;
}

.bs-callout-warning h4 {
  color: #aa6708;
}

.bs-callout-success {
  border-left-color: #437558;
}

.bs-callout-success h4 {
  color: #437558;
}

md-switch {
  margin: 0;
}

md-slider-container md-input-container input[type="number"] {
  padding-left: 0;
}

.text-u {
  text-decoration: underline;
}

// **********  Анимация ng-if

.animate-if {
  background: white;
  border: 0 solid white;
  padding: 0;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}

// ********** end  Анимация ng-if

.list-unstyled.bord {
  border-bottom: 1px dashed #9dba97;
}

//.containerImg {
//  position: relative;
//  width: 100%;
//}

.containerImg {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid hsl(138, 65%, 90%);
  padding: 160px;
  transition: border-color 1s;
  -webkit-transition: border-color 1s; /* Safari 3.1 to 6.0 */

  background-size: cover;
  background-position: center center;

}

.containerImg:hover {
  border-color: #829285;
  filter: brightness(103%);
}

//
//.image {
//  display: block;
//  width: 100%;
//  height: auto;
//}
//
//.overlay {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//  opacity: 0;
//  transition: .5s ease;
//  background-color: #008CBA;
//}
//
//.containerImg:hover .overlay {
//  opacity: 1;
//}
//
//.text {
//  color: white;
//  font-size: 20px;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  -ms-transform: translate(-50%, -50%);
//}

.image {
  display: block;
  //width: inherit;
  // height: inherit;
  /* clip: auto; */
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: hsla(98, 9%, 51%, .2);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 50%;
}

.containerImg:hover .overlay {
  bottom: 0;
  height: 100%;
  border-radius: 50%;
}

.text {
  white-space: nowrap;
  color: #d5f6df;
  font-size: 40px;
  //color: hsl(80, 70%, 55%);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  //text-shadow: 0 0 2px #fff,
  //  /* выпуклость надписи */
  //  -1px -1px 0 hsl(80, 70%, 35%),
  //  -2px -2px 1px hsl(80, 70%, 35%),
  //  /* переход к подложке */
  //  -2px -2px 2px hsl(80, 10%, 15%),
  //  /* подложка */
  //  -2px -2px 0 7px hsl(60, 80%, 95%),
  //  -3px -3px 0 7px hsl(60, 10%, 65%),
  //  -4px -4px 0 7px hsl(60, 10%, 65%),
  //  -5px -5px 0 7px hsl(60, 10%, 65%),
  //  -6px -6px 0 7px hsl(60, 10%, 65%),
  //  /* тень подложки */
  //  -7px -7px 4px 8px hsl(60, 10%, 40%),
  //  -8px -8px 6px 9px hsl(60, 10%, 55%);
}

.text.not-foto {
  font-size: 20px;
  top: 100px;
}

//#toast-container > .toast:before {
//  position: fixed;
//  font-family: FontAwesome;
//  font-size: 24px;
//  line-height: 18px;
//  float: left;
//  color: #FFF;
//  padding-right: 0.5em;
//  margin: auto 0.5em auto -1.5em;
//}
//#toast-container > .toast-warning:before {
//  content: "\f003";
//}
//#toast-container > .toast-error:before {
//  content: "\f001";
//}
//#toast-container > .toast-info:before {
//  content: "\f005";
//}
//#toast-container > .toast-success:before {
//  content: "\f002";
//}

/***
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
  background-image: url(/images/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(/images/2.jpg);
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(/images/3.jpg);
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url(/images/4.jpg);
  animation-delay: 40s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url(/images/5.jpg);
  animation-delay: 60s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url(/images/6.jpg);
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}

@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}
@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 { font-size: 80px }
}
//********** ****************


/********************************** Shuffle start ******************************/
//   /* quick grid */
// .container {
//   width: 93%;
//   margin: auto;
// }
//
///* Bootstrap-style columns */
//.column {
//  position: relative;
//  float: left;
//  min-height: 1px;
//  width: 25%;
//  padding-left: 4px;
//  padding-right: 4px;
//
//  /* Space between tiles */
//  margin-top: 8px;
//}
//
//.col-span {
//  width: 50%;
//}
//
//.my-sizer-element {
//  width: 8.33333%;
//}
//
///* default styles so shuffle doesn't have to set them (it will if they're missing) */
//.my-shuffle {
//  position: relative;
//  overflow: hidden;
//}
//
///* Ensure images take up the same space when they load */
///* https://vestride.github.io/Shuffle/images */
//.aspect {
//  position: relative;
//  width: 100%;
//  height: 0;
//  padding-bottom: 100%;
//  overflow: hidden;
//}
//
//.aspect__inner {
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//}
//
//.aspect--16x9 {
//  padding-bottom: 56.25%;
//}
//
//.aspect--9x80 {
//  padding-bottom: calc(112.5% + 8px);
//}
//
//.aspect--32x9 {
//  padding-bottom: calc(28.125% - 3px);
//}
//
//img.slides {
//  display: block;
//  width: 100%;
//
//  max-width: none;
//  height: 100%;
//  object-fit: cover;
//}
//
///* Small reset */
//*,
//::before,
//::after {
//  box-sizing: border-box;
//}
//
//figure {
//  margin: 0;
//  padding: 0;
//}
/********************************** Shuffle end ******************************/