<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>Структура компании</h2>
        <div ui-view></div>
        <div ui-view="settings"></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="btn-toolbar" role="toolbar" aria-label="0">
                <div ng-if="!searchText" ng-repeat="it in arrButton" class="btn-group btn-group-sm"
                     role="group" aria-label="4">
                    <button ng-click="getPage(it.numberPage)" type="button" ng-bind="it.numberPage"
                            class="btn " ng-class="{'btn-danger':enabledButton, 'btn-default':!enabledButton}"></button>
                </div>
            </div>
        </div>
        <!--<div class="col-md-3">-->
            <!--<select class="form-control" role="group"-->
                    <!--ng-model="modeSelect" ng-options="item.display for item in options track by item.value"></select>-->
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <!--<form id="s">-->
        <!--<div class="input-group">-->
        <!--<input type="text" class="form-control" id="q" placeholder="Search for...">-->
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-default" type="submit">Go!</button>-->
        <!--</span>-->
        <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
        <!--</form>-->
        <div class="col-md-12">  <form id="s">
            <div id="search" class="input-group ">

                    <input type="text" class="form-control" id="q" ng-model="searchText" placeholder="Поиск ...">
                     <span class="input-group-btn">
                       <button  class="btn btn-default" type="submit">
                          <span class="glyphicon glyphicon-search"></span>
                       </button>
                     </span>

            </div> </form>
        </div>
        <!--<div class="col-md-3 pull-right">-->

                <!--<select class="form-control" role="group"-->
                        <!--ng-model="modeSelect" ng-options="item.display for item in options track by item.value"></select>-->

        <!--</div>-->
    </div>
    <div ng-switch on="modeSelect.value" style="margin-top:20px;">
        <div ng-switch-when="structure">
            <ng-include src="structureView"></ng-include>
        </div>

    </div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div ui-view="list"></div>
<div ui-view="attendance"></div>

<pre class="pull-right" ng-if="debug"><h2>{{items| json}}</h2></pre>
