<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="countCurrentView=((items | filter:ftObj).length)?(items | filter:ftObj ).length:1"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        show-cont-it="showContIt"
        show-str="showStr"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>

<td-table dt-items="items" me="me" type="users" field-name="fieldName" name-header="nameHeader" search-text="searchText"
          default-rows="defaultRows" current-page="currentPage" filter-object="ftObj"></td-table>

<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="countCurrentView"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        show-cont-it="showContIt"
        show-str="showStr"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>

