<div class="row">
    <div class="col-md-12">
        <h3></h3>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Настройки отображения страницы</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" ng-model="debug" value="option1"> отладка

                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" ng-model="mode" value="option2"> режимы
                    </label>

                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-model="selectionMode" ng-options="mod for mod in msd">
                    </select>
                    <!--<code>selectionMode={{selectionMode}}</code>-->
                    <hr>
                    <div class="animate-switch-container"
                         ng-switch on="selectionMode">
                        <div class="animate-switch" ng-switch-when="settings|options" ng-switch-when-separator="|">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab explicabo, in molestias nisi nulla obcaecati quam
                            sunt. Aliquam aut commodi cum cumque deleniti enim exercitationem ipsa iste itaque laboriosam libero, magnam
                            magni maiores minima, molestiae molestias mollitia natus nulla, omnis possimus quae quos ratione soluta sunt
                            temporibus tenetur voluptatum. Alias at deserunt, dolor eligendi eos ex in iure nesciunt nobis obcaecati odit
                            omnis praesentium quia quibusdam quisquam rem sint vero voluptas? Ab delectus dolorem non odit saepe! Distinctio
                            ipsum qui sint tempora. Accusamus adipisci aperiam architecto aspernatur cum esse eveniet explicabo in ipsa,
                            minus molestias natus nostrum numquam officia porro quas quasi sunt, vel, voluptatem voluptatum? Amet
                            dignissimos ea libero modi numquam placeat sint sunt. Aspernatur debitis ducimus error est fugiat nam placeat
                            quaerat quasi repellat rerum, similique sunt tempore, totam? Animi corporis deleniti eos est expedita illum
                            laborum laudantium obcaecati tempore ullam! Ab assumenda iusto officiis possimus quasi ullam unde! Adipisci
                            cumque dignissimos dolores eum ipsa ipsum laudantium maiores maxime neque, nesciunt non quasi quos repellat sed
                            similique ullam velit voluptas voluptatibus. Beatae culpa deleniti dolor ducimus explicabo impedit nisi
                            praesentium quisquam sit? Accusantium enim facere facilis perspiciatis tempore? A animi atque consequatur
                            corporis dolores doloribus ipsam nam nostrum odit, pariatur placeat porro provident quidem recusandae repellat
                            suscipit ut! Asperiores beatae culpa cum cumque doloribus est explicabo iste, libero molestiae natus possimus
                            quisquam tempore! Blanditiis quod saepe similique ut? Ab accusantium alias asperiores consequatur corporis
                            deserunt dolore ea eligendi ex harum ipsa, iste natus, nesciunt nisi odio odit reprehenderit repudiandae, vel.
                            Adipisci amet consequatur, distinctio eligendi esse eveniet illum in itaque minus quaerat ratione tempore ullam?
                            Ab animi, atque consectetur culpa cupiditate deserunt dolore dolorum eveniet ex facilis harum, itaque labore
                            magnam modi nam neque nisi nobis non placeat porro sequi sint tempore veniam vero voluptas, voluptates
                            voluptatum.
                        </div>
                        <div class="animate-switch" ng-switch-when="home">Home Span</div>
                        <div class="animate-switch" ng-switch-default>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias consequuntur, et excepturi fuga magnam
                            officiis placeat quam quasi voluptate.
                        </div>
                    </div>
                    <hr/>

                </div>

            </div>
            <div class="panel-footer">Дата настройки: {{ items[0].lastDateSetting() | date:'dd.MM.yyyy'}}</div>
        </div>

    </div>
</div>
