<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText, fired:mode} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>

<table class="table table-hover">
    <!--<tr><th colspan="100">Найдено: {{filtered.length}}</th></tr>-->
    <tr>
        <th>#</th><th></th>
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('lastName')">{{fioArea}}
<span class="sortOrder" ng-show="propertyName === 'lastName'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <!--<th>-->
        <!--<button class="btn  btn-sm btn-default" ng-click="sortBy('birthday')">{{drArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'birthday'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->

        <!--</th>-->
        <!--<th>-->
        <!--<button class="btn  btn-sm btn-default" ng-click="sortBy('login')">{{loginArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'login'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->

        <!--</th>-->

        <th>
            <button class="btn  btn-sm btn-default not-border" ng-click="sortBy('departments[0].name')">{{departmentArea}}
<span class="sortOrder" ng-show="propertyName === 'departments[0].name'"
      ng-class="{reverse: reverse}"></span>
            </button>

        </th>
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('positions[0].name')">{{positionArea}}
<span class="sortOrder" ng-show="propertyName === 'positions[0].name'"
      ng-class="{reverse: reverse}"></span>
            </button>

        </th>
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('email')">{{emailArea}}
<span class="sortOrder" ng-show="propertyName === 'email'"
      ng-class="{reverse: reverse}"></span>
            </button>

        </th>

        <th class="wdt">
            <!--<button class="btn  btn-sm btn-default" ng-click="sortBy('contacts')">Контакты: {{fieldName}}-->
            <!--<span class="sortOrder" ng-show="propertyName === 'contacts'"-->
            <!--ng-class="{reverse: reverse}"></span>-->
            <!--</button>-->
            <!-- Single button -->
            <!-- Split button -->
            <div class="btn-group pull-right">
                <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('contacts')">
<span class="sortOrder" ng-show="propertyName === 'contacts'"
      ng-class="{reverse: reverse}"></span>
                    Контакты: {{fieldName}}
                </button>
                <button type="button" class="btn btn-sm btn-default  not-border dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Контакты: {{fieldName}}</span>
                </button>
                <ul class="dropdown-menu">
                    <!--<li><a href="#" ng-click="fieldName='Email'">Email</a></li>-->
                    <li><a href="#" ng-click="fieldName='Мобильный'">Мобильный</a></li>
                    <li><a href="#" ng-click="fieldName='Телефон'">Телефон</a></li>
                    <li><a href="#" ng-click="fieldName='Внутренний телефон'">Внутренний телефон</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                </ul>
            </div>
        </th>
        <!--<th>-->
        <!--<button class="btn  btn-sm btn-default" ng-click="sortBy('email')">Отработанное время-->
        <!--<span class="sortOrder" ng-show="propertyName === 'email'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->

        <!--</th>-->
        <!--<th></th>-->
        <!--<th></th>-->
    </tr>
    <!--| firstChar:param:charText-->
    <!--ng-class="$even ? 'default' : 'success'"-->
    <!--<tr><td ng-repeat="(key,property) in item">{{key}}</td></tr>-->
    <tr ng-repeat="item in filtered=(items | filter:{$:searchText, fired:mode} |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)">

        <td>{{$index+1}}</td>
        <td><img class="photo" ng-class="{photoSize:vid}" ng-mouseover="vid=true" ng-mouseleave="vid=false" ng-src="{{item.avatarUrl}}" alt=""></td>
        <td>
            <a href="{{item.getEditUrl(item.id)}}">
                {{item.getFullName()}}
            </a>
            <!--<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>-->

            <!--<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">-->
            <!--{{item.getFullName()}}-->
            <!--</button>-->
        </td>
        <!--<td><a href='#' ng-click="getLastName(item)">{{item.getFullName()}}</a></td>-->
        <!--<td ng-if="">{{item.getFullName()}}</td>-->
        <!--<td>{{item.birthday | date:'dd.MM.yyyy'}}</td>-->
        <!--<td>{{item.login}}</td>-->
        <!--<td>-->
            <!--<ul class="position" ng-controller="ListDepartmentController" ng-repeat="subdivision in item.subdivision">-->
                <!--<li ng-repeat="option in items | filter:subdivision.id">-->
                    <!--{{option.name}}-->
                <!--</li>-->
            <!--</ul>-->
        <!--</td>-->
        <!--<td>-->
            <!--<ul class="position" ng-controller="ListPositionController" ng-repeat="position in item.position">-->
                <!--<li ng-repeat="option in items | filter:position.id">-->
                    <!--{{option.name}}-->
                <!--</li>-->
            <!--</ul>-->
        <!--</td>-->

        <td>
            <ul class="position" ng-controller="ListDepartmentController"
                ng-repeat="subdivision in item.subdivision | filter:{$:searchText}">
                <li ng-repeat="option in items | filter:{$:searchText,id:subdivision.id}">
                    {{option.name}}
                </li>
            </ul>
        </td>
        <td>
            <ul class="position" ng-controller="ListPositionController" ng-repeat="position in item.positions">
                <li ng-repeat="option in items | filter:position.id">
                    {{option.name}}
                </li>
            </ul>
        </td>

        <td> <a href="mailto:{{item.email}}">{{item.email}}</a></td>
        <td width="250px" class="text-right">{{item.getContact(fieldName)}}</td>
        <!--<td>{{item.diff}}</td>-->
        <!--<td class="btn-group-xs">-->
            <!--<a ng-href="{{item.getShowUrl(item.id)}}" class="btn"-->
               <!--ng-class="{'btn-primary': !item.fired, ' btn-danger':item.fired}">-->
<!--<span class="glyphicon "-->
      <!--ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"-->
      <!--aria-hidden="true"></span>-->
            <!--</a>-->
            <!--&lt;!&ndash;<a ui-sref="admin.users.edit({userId:'588b46b6d20dd30c17b27f03'})">Users Edit</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a ui-sref="admin.users.edit({userId:item.id})" class="btn btn-sm btn-warning">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a ng-href="{{item.getEditUrl(item.id)}}" class="btn btn-warning">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</td>-->
        <!--<td class="btn-group-xs">-->
            <!--<a href="#">-->
                <!--<span ng-if="mode" ng-click="delete(item)" class="glyphicon glyphicon-trash"></span>-->
            <!--</a>-->
        <!--</td>-->
    </tr>
</table>