<table class="table table-hover" ng-cloak>
    <tr>
        <th style="width:30px">#</th>
        <th class="text-left"><span class="badge">{{filtered.length}}</span></th>
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('name')">
                {{nameHeader.fioArea}}
                <span class="sortOrder" ng-show="propertyName === '.name'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
          <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('name')">
                {{nameHeader.dogArea}}
                <span class="sortOrder" ng-show="propertyName === '.name'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <th></th>
    </tr>
    <tr ng-repeat="item in filtered=(items |filter:{$:searchText} | kennel:filterKennel | filter:filterObject  |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)">

        <td>{{$index+1}}</td>
        <td class="text-left" >
            <a ng-href="{{item.getShowUrl(item.id)}}" title="{{more}}">
                <img class="object-fit_cover" ng-class="{photoSize:vid}" ng-mouseover="vid=true"
                     ng-mouseleave="vid=false"
                     ng-src="{{item.avatarUrl}}"
                     alt="">
            </a>
        </td>
        <td ng-if="me.admin || me.kadr">
            <a href="{{item.getEditUrl(item.id)}}">
                {{item.getFullName()}}
                <span ng-if="!item.name" class="text-danger"><md-tooltip
                        md-direction="top">
              временное имя, псевдоним
            </md-tooltip>{{item.symbol}} {{item.alias}}</span>
            </a>
        </td>
        <td class="text-left">
            <div ng-controller="ListCatalogController" >
                <p  style="margin: 0;" ng-repeat="dog in items | filter:{id:item.dams.id}" >
                    <span>{{dog.getFullName()}}</span>
                </p>
            </div>
        </td>
        <td class="btn-group-xs text-center">
            <a ng-href="{{item.getShowUrl(item.id)}}" class="btn" title="{{more}}"
               ng-class="{'btn-primary': item.action, ' btn-danger':!item.action}">
                <span class="glyphicon"
                      ng-class="{'glyphicon-eye-open': item.action, 'glyphicon-eye-close':!item.action}"
                      aria-hidden="true"></span>
            </a>
        </td>
    </tr>
</table>