<div class="panel panel-default" >
    <div class="panel-header"><h3 class="panel-title"></h3></div>
    <div class="panel-body">


        <div class="col-sm-6 col-md-4" ng-class="{'col-md-offset-4':!item.avatarUrl}">
            <div  class="delete-button" ng-class="{'thumbnail':item.avatarUrl}" ng-mouseover="shows=1" ng-mouseleave="shows=0">
                <a href="#" ng-click="delFoto(item)" ng-if="shows" class="btn btn-default delete-img" role="button">Удалить</a>
                <!--<a href="#">-->
                    <img ng-src="{{item.avatarUrl}}">
                    <!--<img src="/images/user/avatar/58e35656594105801c9d9203/105.jpg" alt="">-->
                    <!--<img src="http://via.placeholder.com/242x200/EEEEEE/AAAAAA">-->
                <!--</a>-->
                <div class="caption">

                    <!--Прогресс-->
                    <!--<table class="table not-margin">-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="item in uploader.queue">-->
                    <!--<td class="text-center" ng-show="uploader.isHTML5">-->
                    <!--<div class="progress" style="margin-bottom: 0;">-->
                    <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>-->
                    <!--</div>-->
                    <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                    <!--</table>-->

                    <div class="file-upload " >
                        <label class="text-left">
                            <input type="file" nv-file-select="" uploader="uploader" multiple/>
                            <span ng-if="!item.avatarUrl" class="btn btn-default" role="button">Выбрать фото</span>
                            <span ng-if="item.avatarUrl" class="btn btn-default" role="button">Изменить фото</span>

                        </label>

                    </div>
                    <p> </p>
                </div>
            </div>
        </div>


    </div>
</div>



