<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>Выход нового сотрудника
            <div class="btn-group-xs pull-right">
                <button ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </div>
        </h2>
    </div>
    <div class="row">
        <!--<div ng-class="{'col-md-6':close, 'col-md-12':!close, 'fx-fade-left':!close, 'fx-fade-right':close}">-->
        <div class="panel" ng-class="{'panel-warning':!item.fired, 'panel-default':item.fired}">
            <div class="panel-heading">
                <h3 class="panel-title">Данные о сотруднике
                    <!--<a href="#" ng-click="closed()" class="pull-right">-->
                    <!--<span class="glyphicon" ng-class="{'glyphicon-menu-right':close,'glyphicon-menu-left':!close}"></span>-->
                    <!--</a>-->
                </h3>
            </div>
            <div class="panel-body">
                <form name="userForm" class="form-horizontal" novalidate ng-submit="saveEdit(item)">

                    <div class="form-group">
                        <label for="inputSuccess1" class="col-sm-2 control-label">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.lastName" id="inputSuccess1">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess2" class="col-sm-2 control-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.firstName" id="inputSuccess2">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess3" class="col-sm-2 control-label">Отчество</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.patronymicName" id="inputSuccess3">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>




                    <!--  Д Е П А Р Т А М Е Н Т  -->

                    <div ng-controller="ListDepartmentController" class="form-group ">
                        <label class="col-sm-2 control-label" for="inputSuccess4">Департамент</label>
                        <div class="col-sm-10">
                            [ <a href="#" ng-click="addSubdivision()">добавить</a> ]
                            <div class="form-inline" ng-repeat="department in item.subdivision ">
                                <div class="form-group">
                                    <select class="form-control" ng-model="department.id">
                                        <option ng-repeat="option in items" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removeSubdivision(department)">x</button>
                            </div>
                        </div>
                        <!--<pre>D E P A R T M E N T S : {{items | limitTo:5 | json}}</pre>-->
                    </div>





                    <!-- Д О Л Ж Н О С Т Ь -->

                    <div ng-controller="ListPositionController" class="form-group ">
                        <label class="col-sm-2 control-label" for="inputSuccess5">Должность</label>
                        <div class="col-sm-10">
                            [ <a href="#" ng-click="addPosition()">добавить</a> ]
                            <div class="form-inline" ng-repeat="position in item.position">
                                <div class="form-group">
                                    <select class="form-control" ng-model="position.id">
                                        <option ng-repeat="option in items" value="{{option.id}}">{{option.name}}</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removePosition(position)">x</button>
                            </div>
                            <!--<pre>P O S I T I O N S : {{items | limitTo:5 | json }}</pre>-->
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess6" class="col-sm-2 control-label">Дата выхода сотрудника</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.dateInWork" id="inputSuccess6">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess7" class="col-sm-2 control-label">Местоположение</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.location" id="inputSuccess7">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess8" class="col-sm-2 control-label">Комната</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.room" id="inputSuccess8">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess9" class="col-sm-2 control-label">
                            Дополнительное требование к рабочему месту</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="item.workplace" id="inputSuccess9"></textarea>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <div class="form-group">
                        <label for="inputSuccess10" class="col-sm-2 control-label">Права в DAX</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.room" id="inputSuccess10">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>




                    <!--  Д О С Т У П  К  О Ф И С Н О Й  С Е Т И  И З  Д О М А  -->

                    <div class="form-group">
                        <label for="inputSuccess11" class="col-sm-2 control-label">Доступ к офисной сети из дома</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess11" ng-model="item.action"> (доступ к почте, Sharepoint,
                                    сетевым папкам на файловых серверах)
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>



                    <!--  Н Е О Б Х О Д И М О С Т Ь   З А К А З А   В И З И Т О К  -->

                    <div class="form-group">
                        <label for="inputSuccess12" class="col-sm-2 control-label">Необходимость заказа визиток</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess12" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>




                    <!--  К А Д Р Ы. Н А Ч А Т Ь  О Б Р А Б О Т К У  -->

                    <div class="form-group">
                        <label for="inputSuccess13" class="col-sm-2 control-label">Кадры. Начать обработку</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess13" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- К А Д Р Ы.  О Т К Л О Н И Т Ь  З А Я В К У  -->

                    <div class="form-group">
                        <label for="inputSuccess14" class="col-sm-2 control-label">Кадры. Отклонить заявку</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess14" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- К А Д Р Ы.  К О М Е Н Т А Р И И  -->

                    <div class="form-group">
                        <label for="inputSuccess15" class="col-sm-2 control-label">Кадры. Комментарии</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" ng-model="item.room" id="inputSuccess15"></textarea>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- Ф И Н О Т Д Е Л.  К О М Е Н Т А Р И И  -->

                    <div class="form-group">
                        <label for="inputSuccess16" class="col-sm-2 control-label">Финотдел. Коментарии</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" ng-model="item.room" id="inputSuccess16"></textarea>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- Ф И Н О Т Д Е Л.  В Ы П О Л Н Е Н О  -->

                    <div class="form-group">
                        <label for="inputSuccess17" class="col-sm-2 control-label">Финотдел. Выполнено</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess17" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- А Х О.  В Ы П О Л Н Е Н О  -->

                    <div class="form-group">
                        <label for="inputSuccess18" class="col-sm-2 control-label">АХО. Выполнено</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess18" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!--  E M A I L  -->

                    <div class="form-group">
                        <label for="inputSuccess20" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.room" id="inputSuccess20">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!--  Т Е Л Е Ф О Н  -->
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="inputSuccess21">Телефон:</label>
                        <div class="col-sm-10">
                            [ <a href="#" ng-click="addContact()">добавить</a> ]
                            <div class="row"><div class="col-md-12">&nbsp;</div></div>
                                <div class="form-inline" ng-repeat="contact in item.contacts">
                                    <div class="col-sm-2 form-group">
                                        <select class="form-control" ng-model="contact.type">
                                            <option>Мобильный</option>
                                            <option>Телефон</option>
                                            <option>Внутренний телефон</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <label class="sr-only" for="inputSuccess21">Password</label>
                                        <input class="form-control" type="text" id="inputSuccess21" ng-model="contact.value" required>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-default" ng-click="removeContact(contact)">x</button>
                                    </div>
                                </div>
                            </div>

                    </div>


                    <!--  I T  О Т Д Е Л. В Ы П О Л Н Е Н О  -->

                    <div class="form-group">
                        <label for="inputSuccess22" class="col-sm-2 control-label">IT отдел. Выполнено</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess22" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!--  H E L P - D E S K.  В Ы П О Л Н Е Н О  -->

                    <div class="form-group">
                        <label for="inputSuccess23" class="col-sm-2 control-label">Help-Desk. Выполнено</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess23" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!--  К А Д Р Ы. О Б Р А Б О Т К А  З А В Е Р Ш Е Н А  -->

                    <div class="form-group">
                        <label for="inputSuccess24" class="col-sm-2 control-label">Кадры. Обработка завершена</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="inputSuccess24" ng-model="item.action">
                                    <!--Активность-->
                                </label>
                            </div>
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!-- С О С Т О Я Н И Е  З А Я В К И  -->

                    <div class="form-group">
                        <label for="inputSuccess25" class="col-sm-2 control-label">Состояние заявки</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="item.room" id="inputSuccess25">
                        </div>
                        <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>


                    <!--  К Н О П К И  У П Р А В Л Е Н И Я  -->

                    <div class="form-group" style=" position: fixed;margin-left: 50px; margin-bottom: 70px; bottom:0; left:0;">
                        <button ng-show="!edit" type="submit" ng-disabled="userForm.$invalid" class="btn btn-md btn-success">
                            <span class="glyphicon glyphicon-user"></span>
                            Создать
                        </button>
                        <button ng-show="edit" type="submit" class="btn btn-md btn-success">
                            <span class="glyphicon glyphicon-check"></span>
                            Сохранить
                        </button>
                        <a ng-href="{{item.getListUrl()}}" class="btn btn-md btn-warning">
                            <span class="glyphicon glyphicon-list"> </span>
                            Список
                        </a>
                        <button ng-if="!item.id" ng-click="revert()" ng-disabled="!canRevert()" class="btn btn-md btn-primary">
                            <span class="glyphicon glyphicon-erase"> </span>
                            Очистить
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--</div>-->
    </div>
</div>

