<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Авторизация</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/images/icons/svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content class="md-padding">
                    <div layout-gt-sm="row">
                        <md-input-container flex>
                            <label>Логин</label>
                            <input  ng-model="loginForm.email" autofocus required type="text"/>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Пароль</label>
                            <input ng-model="loginForm.password" required type="password"/>
                        </md-input-container>
                    </div>
                <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions  layout-align="center center" layout="row">
            <!--<md-button ng-click="cancel('Отмена')" >-->
                <!--Восстановить-->
            <!--</md-button>-->


            <md-button ng-click="answer(loginForm)" md-autofocus>
                Ok
            </md-button><span flex></span>
            <md-button href="/signup">
                Регистрация
            </md-button>
            <!--<md-button ng-click="answer(loginForm)" class="btn btn-success">-->
            <!--<span ng-show="!loginForm.loading">ВОЙТИ</span>-->
            <!--<span ng-show="loginForm.loading" class="fa fa-spinner"></span>-->
            <!--<span ng-show="loginForm.loading">Секунду...</span>-->
            <!--</md-button>-->



        </md-dialog-actions>
    </form>
</md-dialog>
