<div class=" col-md-12">
    <div class="jumbotron">
        <h1>КC 2.0 <small>...ситема отпусков</small></h1>
        <h2> Быстрый доступ к управлению отпусками и отсутствиями</h2>
        <a href="/signup" class="btn btn-lg btn-success">Зарегистрироваться!</a>
    </div>
</div>
