<div class="jumbotron">
    <div class="container">
        <h1>КC 2.0 <small>...ситема отпусков</small></h1>
        <p> Быстрый доступ к управлению отпусками и отсутствиями.</p>
        <!--<p><a class="btn btn-primary btn-lg" href="/signup" role="button">Зарегистрироваться &raquo;</a></p>-->
    </div>
</div>
    <!--<div class="jumbotron">-->
        <!--<h1>КC 2.0 <small>...ситема отпусков</small></h1>-->
        <!--<p class="lead"> Быстрый доступ к управлению отпусками и отсутствиями</p>-->
        <!--<p>-->
            <!--<a class="btn btn-lg btn-success" href="/signup" role="button">Зарегистрироваться!</a>-->
        <!--</p>-->
    <!--</div>-->
