<div class="container" ng-controller="passwordRecoveryPageController" ng-cloak>
    <div class="page-header">
        <!--<h1>Восстановить пароль</h1>-->
    </div>
    <!-- S T A R T  O F  T H E  P A N E L -->
    <div class="row">
        <div class="auth-form login-form col-sm-4 col-sm-offset-4">
            <form role="form" novalidate ng-submit="recoverPassword()" id="password-recovery-form" name="passwordrecovery">
                <fieldset>
                    <div class="form-title">
                        <!--<img src="/images/logo_transparent_orange_notext.png" alt="brushfire logo">-->
                        <h3 class="text">Восстановить пароль</h3>
                    </div>
                    <!-- E M A I L -->
                    <div class="form-group" ng-class="{'has-error':passwordrecovery.email.$invalid &&passwordrecovery.email.$dirty}">
                        <!-- Email address or Username -->
                        <input ng-model="passwordRecoveryForm.email" class="form-control input-lg" autofocus placeholder="Ваш email"
                               name="email" type="email" required>
              <span class="help-block has-error" ng-if="passwordrecovery.email.$dirty">
                <span ng-show="passwordrecovery.email.$error.required">Email бязателен к заполнению.</span>
                <span ng-show="passwordrecovery.email.$error.email">Не корректный email.</span>
              </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="submit-btn btn btn-lg btn-block" ng-disabled="passwordrecovery.$invalid">
                            <span ng-show="!passwordRecoveryForm.loading">Отпрвить пароль на Email</span>
                            <span ng-show="passwordRecoveryForm.loading" class="fa fa-spinner"></span>
                            <span ng-show="passwordRecoveryForm.loading">Секунду ...</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
