<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">
    <div class="page-header">
        <h1>{{items[0].scs()}} <span ng-if="mode">не активные</span> ({{filtered.length}})
            <span class="pull-right">
                <small>
                    <small>

                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="debug" value="option1"> отладка
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="mode" value="option2"> режимы
                        </label>
                        <label class="checkbox-inline">
                            <a  ui-sref="admin.users.list.settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                        </label>
                    </small>
                </small></span>
        </h1>

        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default>
                                <a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
                        </span>
                </ng-switch>
            </li>
        </ul>

        <div ui-view></div>
        <div ui-view="settings"></div>


    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Поиск ...">
                     <span class="input-group-btn">
                       <button ng-click="searchText=''" class="btn btn-default" type="button">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                     </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Список отделов компании</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>
                                <button class="btn btn-default" ng-click="sortBy('name')">Наименование
                                <span class="sortOrder" ng-show="propertyName === 'name'"
                                      ng-class="{reverse: reverse}"></span>
                                </button>
                            </th>
                            <th>
                                <button class="btn btn-default" ng-click="sortBy('type')">Тип
                                <span class="sortOrder" ng-show="propertyName === 'type'"
                                      ng-class="{reverse: reverse}"></span>
                                </button>

                            </th>

                            <th>
                                <button class="btn btn-default" ng-click="sortBy('location')">Местоположение
                                 <span class="sortOrder" ng-show="propertyName === 'location'"
                                       ng-class="{reverse: reverse}"></span>
                                </button>

                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="item in filtered=(items | filter:{$:searchText, action:!mode}| orderBy:propertyName:reverse)">
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.type }}</td>
                            <td>{{item.location}}</td>

                            <td class="btn-group-xs">
                                <a ng-href="{{item.getShowUrl(item.id)}}" class="btn "
                                   ng-class="{'btn-primary': item.action, ' btn-danger':!item.action}">
                                    <span class="glyphicon "
                                          ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"
                                          aria-hidden="true"></span>
                                </a>
                                <!--<a ui-sref="admin.users.edit({userId:'588b46b6d20dd30c17b27f03'})">Users Edit</a>-->
                                <!--<a ui-sref="admin.users.edit({userId:item.id})" class="btn btn-sm btn-warning">-->
                                    <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--</a>-->
                                <a ng-href="{{item.getEditUrl(item.id)}}" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>
                            <td class="btn-group-xs">
                                <form ng-if="mode" action="/user/destroy" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit" class="btn  btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                    <input type="hidden" name="_csrf" value="<%= _csrf %>">
                                    <input type="hidden" name="id" value="{{item.id}}">

                                </form>
                            </td>
                        </tr>


                    </table>

                </div>
            </div>
        </div>
    </div>

    <pre class="pull-right" ng-if="debug"><h2>{{items| json}}</h2></pre>
</div>