<div ng-app="UserModule" ng-controller="UserController">
    <div class=" col-md-12">
        <h3>Сотрудники</h3>
        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>ДР</th>
                <th>Логин</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="item in items" ng-cloak>
                <td>{{item.last_name}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.patronymic_name}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.login}}</td>
                <td>{{item.email}}</td>
                <td>
                    <a href="/user/show" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                    <a href="/user/edit" class="btn btn-sm btn-warning">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <form action="/user/destroy" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-sm btn-danger" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                        <input type="hidden" name="_csrf" value="<%= _csrf %>" >
                    </form>
                </td>
            </tr>

        </table>
    </div>
    </div>