<div class=" col-md-12">
    <h1>Привет, {{data.login}}!</h1>

    <hr>
    <h3>Информация по вашему аккаунту</h3>
<ul>
    <li class="animate-repeat" ng-repeat="user in data">
        {{user}}
    </li>
</ul>
    </div>